[2018-05-03 18:34] isaacsultan opened #2 "Attribute 'axis' requires a constant argument"
https://github.com/tensorflow/swift-models/blob/46c2d6bc47b89b3f0abd20089f77c0dfc25b8ae6/MNIST/MNIST.swift#L53

I am recieving a Swift Compiler Error: 'Attribute 'axis' requires a constant argument', when running MNIST model within XCode Version 9.3 (9E145) (macOs).

However, no trouble running the model with the command line.

[2018-05-03 18:40] rxwei commented on #2
Did you pass a `-O` flag to the compiler?

[2018-05-05 11:34] pnorridge opened #3 "Compile issue: Command failed due to signal: Abort trap: 6"
When I try to compile the MNIST example in Xcode I get the error "Command failed due to signal: Abort trap: 6".

I've attached the compiler messages in case that help.

Thanks.
[Build target MNISTTest_2018-05-05T12-27-37.txt](https://github.com/tensorflow/swift-models/files/1976597/Build.target.MNISTTest_2018-05-05T12-27-37.txt)

[2018-05-05 20:04] pnorridge commented on #3
My mistake -- as I was double checking the settings, I realised I'd forgotten to select the -0 flag. Now I've done that it seems to be OK.

Sorry to waste your time!

[2018-05-05 20:32] dan-zheng commented on #3
No worries, glad you figured it out!

[2018-05-05 20:32] #3 closed

[2018-05-05 21:15] #2 closed

[2018-05-10 10:42] starptit opened #4 "How to export to model?"
Hi, i've checked out the repository and tried to run command follow to README.md guide in MNIST example. It worked perfectly, but i could not find any exported model. When i looked into source code, seem that there is no exporting function.
My question is, how to export the result as a model ? I cannot find any documents for this feature (I want something similar to tf.saved_model in Python)

[2018-05-14 10:13] rxwei opened #5 "Internal error when `public`s are removed from the catch model"
This is the [catch](https://github.com/tensorflow/swift-models/blob/d621bbdbc0023d919505206eb6933175d86f55e1/Catch/catch.swift) model with all `public`s removed. The original version runs ok, but it triggers an internal error when `public`s are removed.

[code]

Running this using `swift -O catch.swift` gives an internal error. The `_$S5catch8PositionVMn` symbol is not linked. I haven't tested the

[2018-05-14 10:13] rxwei commented on #5
This issue was moved from https://github.com/google/swift/issues/26.

[2018-06-01 18:16] rxwei opened #7 "Eliminate the use of "high level APIs""
As we are removing `HighLevel.swift`, aka `FullyConnectedLayer`, etc, models should be rewritten using primitives.

[2018-06-08 20:58] johndpope opened #9 "enhancement - a generative model / GAN"
to foster community involvement - some richer sample code beyond MNIST should be tackled.
Generative Adversarial Networks is a hot topic amongst ML - and some sample code using swift should help encourage researchers to pick up swift / a list of GAN projects attached below.

thinking out loud - consider google swift team - could have a budget with bounties that community could vote on and award to

[2018-06-08 21:06] johndpope opened #10 "Readme updates for playgrounds - The active toolchain is not compatible with playgrounds. libswiftCore.dylib could not be loaded"
Need to spell out to use macOS playground . - not  iOS playground.

https://github.com/tensorflow/swift/issues/23

[2018-06-08 21:11] rxwei commented on #10
Would you like to start a PR?

[2018-06-08 21:30] johndpope commented on #10
so used to adding c/c++ flags over course of my career - I see swift flags buried in settings - makes sense.  need to spell this out too.
<img width="720" alt="screen shot 2018-06-08 at 17 24 55" src="https://user-images.githubusercontent.com/289994/41181783-00c2202c-6b41-11e8-8bc2-62cedbeba99c.png">

then I get these errors.
<img width="1085" alt="screen shot 2018-06-08 at 17 26 07" src="https://

[2018-06-08 21:45] johndpope commented on #10
related https://groups.google.com/a/tensorflow.org/forum/#!msg/swift/c2fBWN3stzg/thSQM9DpAgAJ

[2018-06-08 21:53] johndpope commented on #10
this is the documentation for xcode project - we should glue this here into readme

not sure there's an easy way to grab the marvelous formatted response from @frogcjn -  https://github.com/tensorflow/swift/issues/10#issuecomment-385167803

<img width="457" alt="screen shot 2018-06-08 at 17 52 40" src="https://user-images.githubusercontent.com/289994/41182696-c2fb81f8-6b44-11e8-8392-4830db5d4fd1.p

[2018-06-08 22:00] johndpope commented on #10
we might be able to use https://github.com/yonaskolb/XcodeGen to save the day this manual boiler plate stuff.

brew tap yonaskolb/XcodeGen https://github.com/yonaskolb/XcodeGen.git
brew install XcodeGen

https://github.com/num42/RxUserDefaults/blob/master/project.yml

[2018-06-11 14:06] johndpope opened #11 "Enhancement - MNIST example - showcase protocol Learnable/Optimizer for gradient / loss / learningRate"
https://www.tensorflow.org/api_docs/swift/Protocols/Learnable
![screen shot 2018-06-11 at 10 03 20](https://user-images.githubusercontent.com/289994/41236264-b0938940-6d5e-11e8-85ab-f25dba27757b.png)

People picking up this sample repo will likely sprawl the wrong style of code unless good guidance is provided.

![screen shot 2018-06-11 at 10 06 55](https://user-images.githubusercontent.com/289994

[2018-06-11 14:20] johndpope commented on #11
maybe the docs are out of date - are these protocols still relevant?

![screen shot 2018-06-11 at 10 19 57](https://user-images.githubusercontent.com/289994/41237236-0af57202-6d61-11e8-88c3-0d952369ca54.png)

[2018-06-11 14:22] mhong commented on #11
John, thanks for bringing this to our attention.

@rxwei @dan-zheng Should we remove the doc, now that we removed the experimental high level API?

[2018-06-11 14:28] johndpope commented on #11
I think removing docs will need a new ticket - I'll close this enhancement ticket for now.
The javascript docs look quite good - you guys internally should put heads together.
![screen shot 2018-06-11 at 10 25 59](https://user-images.githubusercontent.com/289994/41237583-e02c3c94-6d61-11e8-9beb-edfd57bd394a.png)

[2018-06-11 14:28] #11 closed

[2018-06-11 15:29] dan-zheng commented on #11
The high-level APIs were experimental and have been removed.
Here's the [mailing list announcement](https://groups.google.com/a/tensorflow.org/forum/#!topic/swift/8fuBSJ0Vocs).

I'll update the API docs this week.

[2018-06-11 15:35] MartinChan1 opened #12 "MNIST prediction output"
I wanted to analyse the results of the predictor  so wrote some code to output the predictions outside the loop (after the print loss in the MNIST file):

let z1 = images ⊗ w1 + b1
let h1 = sigmoid(z1)
let z2 = h1 ⊗ w2 + b2
let predictions = sigmoid(z2)
for prediction in predictions.toDevice().array {
    print(prediction)
}

for v in h1.toDevice().array {
    print(v)
}

The h1 print is always ou

[2018-06-11 20:19] rxwei commented on #10
We made clear that playgrounds are macOS-only. This has been documented in usage instructions also.

[2018-06-11 20:19] #10 closed

[2018-06-14 13:12] VolodymyrPavliukevych commented on #4
Dear @starptit, there is no easy way right now to extract model or raw graph.

So, actually final graph is serialized in to a protobuf bytes and copied directly into the executable file.

[2018-06-25 22:41] #7 closed

[2018-06-28 01:50] #4 closed

[2018-07-02 12:40] valeriyvan opened #16 "Error compiling MNIST.swift"
MNIST.swift:35:13: error: value of type 'Tensor<Float>' has no member 'toAccelerator'
    return (imagesTensor.toAccelerator(), labelsTensor.toAccelerator())
            ^~~~~~~~~~~~ ~~~~~~~~~~~~~

swift-tensorflow-DEVELOPMENT-2018-06-01-a.xctoolchain
Swift version 4.2-dev (LLVM 04bdb56f3d, Clang b44dbbdf44, Swift 70260a59ef)
Target: x86_64-apple-darwin17.6.0

[2018-07-02 14:23] rxwei commented on #16
This is because the toolchain you are using (06-01) is too old. Our APIs are constantly evolving so there will be breaking changes every so often. Please download the latest toolchain [here](https://github.com/tensorflow/swift/blob/master/Installation.md). Thanks!

[2018-07-02 14:23] #16 closed

[2018-07-02 20:35] valeriyvan commented on #16
Thank you for your answer. With swift-tensorflow-DEVELOPMENT-2018-06-29-a.xctoolchain having this errors:
MNIST.swift:78:25: error: use of unresolved operator '⊗'
        let z1 = images ⊗ w1 + b1
MNIST.swift:80:21: error: use of unresolved operator '⊗'
        let z2 = h1 ⊗ w2 + b2
MNIST.swift:85:57: error: use of unresolved operator '⊗'
        let dw2 = h1.transposed(withPermutations: 1, 0) ⊗ d

[2018-07-02 20:48] dan-zheng commented on #16
Thanks for the catch! It's been fixed now.

(For reference, matrix multiplication has been renamed from `Tensor.dot(_:)` and `⊗` to `matmul(_:_:)` and `•(_:_:)`. See [this mailing list thread](https://groups.google.com/a/tensorflow.org/forum/#!topic/swift/8fuBSJ0Vocs) for more information.)

[2018-07-02 20:58] dan-zheng commented on #5
This is fixed with the [latest pre-built packages (6/29)](https://github.com/tensorflow/swift/blob/master/Installation.md#pre-built-packages) and the current version of `catch.swift` with `public` modifiers removed.

`test.swift`:
[code]

`swift -O test.swift` now works normally. I suspect the issue was related to https://github.com/tensorflow/swift/issues/46 and naturally became fixed after downs

[2018-07-02 20:58] #5 closed

[2018-07-02 20:59] valeriyvan commented on #16
You were 9min faster then me for fixing this)

[2018-08-10 09:25] aaaron7 opened #23 "MNIST & Autoencoder can't be run with latest toolchain"
OS: macOS Mojava Beta
Toolchain: Xcode 10/7-24
Command: `swift -O xxx`
Output:
[code]

[2018-08-10 13:09] dan-zheng commented on #23
Are you running `MNIST.swift` from the `master` branch instead of the `stable` branch?
From the README:

[2018-08-10 14:13] aaaron7 commented on #23
@dan-zheng That's the reason, thanks.

[2018-08-10 14:13] #23 closed

[2018-08-21 12:53] MartinChan1 commented on #12
The code has changed a lot since I opened this. So I assume this issue is not valid anymore and can be closed.

[2018-08-21 12:53] #12 closed

[2018-08-29 03:13] rxwei commented on #9
More models will definitely be developed in the future. Closing this issue.

[2018-08-29 03:13] #9 closed

[2018-09-07 01:40] johndpope commented on #9
found this code by @jorgenhenrichsen - https://github.com/johndpope/GanforCoreML/blob/master/GAN/GAN/ViewController.swift

Will be awesome when AD comes online and higher level APIs come online.
Watching this repo closely.
https://github.com/tensorflow/swift-tutorials/blob/master/iris/swift_tensorflow_tutorial.ipynb

[2018-09-07 12:26] johndpope opened #27 "fyi - swift-reinforce"
@saschaschramm - created this master piece
https://github.com/saschaschramm/SwiftReinforce

[2018-09-08 01:55] johndpope commented on #27
spent the day attempting to get this running on different swift for tensorflow releases.
Latest - worked around this issue
https://github.com/tensorflow/swift/issues/65

but ran into this
https://github.com/saschaschramm/SwiftReinforce/issues/3

attempted to revert back to
https://github.com/johndpope/SwiftReinforce/tree/snapshot-7-24-18
this branch run - but crashes with
  **Executor failed to cr

[2018-09-11 01:30] #27 closed

[2019-01-03 21:15] johndpope opened #29 "swift -O MNIST.swift - errors param -= grad * learningRate ~~~~~~^~~~~~~~~~~~~~~~~~~~~~ statement type not handled! UNREACHABLE executed at /usr/local/src/swift-build/swift/lib/AST/Stmt.cpp:120!"
MNIST/
swift -O MNIST.swift

[code]

[2019-01-20 21:41] xysun commented on #29
Mind showing your versions? `swift -O MNIST.swift` runs fine for me.

This is mine:

[code]

[2019-01-23 02:09] futurejones commented on #29
I am also having the same problem on Linux - Ubuntu 16.04 - x86_64.
[code]
[code]

[2019-01-23 02:17] futurejones opened #30 "MNIST.swift:113:50: error: value of type 'Tensor<Int32>' has no member 'elementsEqual'"
`swift -O MNIST.swift ` is failing on Linux - Ubuntu 16.04 - AArch64.

[code]
[code]
The same problem also occurs in  `Swift version 4.2-dev` built for AArch64

[2019-01-23 02:21] rxwei commented on #30
Hi, we are currently refreshing models and APIs. Expect a brand new set of models soon!

[2019-01-31 14:04] yhyuan commented on #29
I am having the same problem with the same setting.

Target:` x86_64-unknown-linux-gnu

[2019-02-01 05:04] wangkuiyi commented on #30
HI @rxwei , Thanks for the prompt reply. Could we run the MNIST.swift example with an earlier version of S4TF? (I suppose that the reported problem is because that @futurejones was using a too recent version, 5.0-dev?)

[2019-02-03 00:47] rxwei commented on #30
I believe the latest toolchain works for the MNIST example. We'll update everything in a week or two.

[2019-02-08 01:26] tanmayb123 opened #35 "UNet Example"
I'd love to contribute an example of using UNet for image segmentation - would this be useful?

[2019-02-08 02:31] rxwei commented on #35
Sure thing!

[2019-02-08 07:44] tanmayb123 commented on #35
This is what I've got so far: https://gist.github.com/tanmayb123/c3106c64ee8b9e07b729465b0744477b

But I get this error:

[code]

Did I do something wrong?

[2019-02-08 07:59] rxwei commented on #35
`#tfop` are not differentiable and will lead to undefined behavior. You can define your differentiable version of `Tensor.concatenated(...)` locally in your file using the `differentiableFunction(from:)` operator or the `@differentiable(vjp: ...)` attribute. I'll add the derivative for you in stdlib tomorrow.

[2019-02-08 08:01] tanmayb123 commented on #35
Ah I see. I'll try again tomorrow.

[2019-02-08 19:51] tanmayb123 commented on #35
In the meantime, I've created a PR for the UpSampling2D layer to be added to your DeepLearning repo: https://github.com/rxwei/DeepLearning/pull/6

[2019-02-08 19:53] rxwei commented on #35
Excellent!

[2019-02-11 20:43] tanmayb123 commented on #35
@rxwei There's one more issue I just came across.

This code: https://gist.github.com/tanmayb123/4c140c011fe1c262d22968172a3475ad crashes with this stack dump:
[code]

Notice that in the code I linked, in the `applied(to:)` function, I don't use the `up1_c2` layer. However, if I comment lines 63 and 54 (where I declare and initialize the `up1_c2` layer), the code works just fine.

This stumped me

[2019-02-12 01:02] rxwei commented on #35
Could you help file a bug on bugs.swift.org with the reproducer?

[2019-02-12 02:38] skydoorkai commented on #30
@rxwei , are you going to update MNIST.swift, or to add elementsEqual support for Tensor?

[2019-02-12 02:58] rxwei commented on #30
There's no `elementsEqual` anymore. The operator is now `.==`. Yes, I'm going to update MNIST.

[2019-02-12 05:33] skydoorkai opened #36 "GPU perf is much worse than CPU for MNIST"
With s4tf version 5.0-dev (built from utils/build-toolchain-tensorflow -g), MNIST sample is running much slower with GPU than with CPU. For each epoch, CPU training takes 16 seconds, but GPU training takes 31 seconds.

From nvprof, we can see that the GPU utilization is very low, and there are many GPU/CPU data copies.

![s4tfperf](https://user-images.githubusercontent.com/16055370/52613778-4ce729

[2019-02-12 06:13] rxwei commented on #36
Will debug soon. The MNIST example is really outdated. I plan to switch this to use the [deep learning library](https://github.com/tensorflow/swift-apis) later this week.

[2019-02-12 07:21] jekbradbury commented on #36
There’s a more up-to-date version in the tests for the library Richard linked, but the performance isn’t necessarily a whole lot better.

[2019-02-12 07:33] rxwei commented on #36
Oops, I just deleted that test :) I'm about to move it to this repo.

[2019-02-16 15:47] zhao15 opened #37 "MNIST.swift:41:26: MNist.swift:23:17: MNist.swift:98:13: MNist.swift:114:50:"
MNIST.swift is failing on macOS:

$ swift
Welcome to Swift version 5.0-dev (LLVM dcb9eb74a7, Clang 95cdf7c9af, Swift 3fd7afd627).

$ swift -O MNIST.swift
MNIST.swift:41:26: error: use of undeclared type 'ParameterGroup'
struct MNISTParameters : ParameterGroup {
                         ^~~~~~~~~~~~~~
MNist.swift:23:17: error: incorrect argument label in call (have 'numpyArray:', expected 'arrayLit

[2019-03-05 18:13] amj opened #56 "Minigo: Komi should be 7.5"
Minigo's pre-trained models all assume a komi value of 7.5  Using 6.5 will have surprising results :)

[2019-03-05 18:42] xiejw commented on #56
Agreed. We should change that. I will test it and send a PR.

Thanks for pointing this out!

[2019-03-05 19:19] xiejw commented on #56
https://github.com/tensorflow/swift-models/commit/da9ee75fa644baaed06dfeccedab1a9781916458

Fixed. Thanks again.

[2019-03-05 19:19] #56 closed

[2019-03-06 04:25] rxwei commented on #37
Fixed with the new MNIST: https://github.com/tensorflow/swift-models/blob/stable/MNIST/MNIST.swift.

[2019-03-06 04:26] #37 closed

[2019-03-06 04:26] rxwei commented on #30
Fixed with the new MNIST: https://github.com/tensorflow/swift-models/blob/stable/MNIST/MNIST.swift.

[2019-03-06 04:26] #30 closed

[2019-03-06 04:26] rxwei commented on #29
Fixed with the new MNIST: https://github.com/tensorflow/swift-models/blob/stable/MNIST/MNIST.swift.

[2019-03-06 04:26] #29 closed

[2019-03-06 04:27] rxwei commented on #36
MNIST is updated: Fixed with the new MNIST: https://github.com/tensorflow/swift-models/blob/stable/MNIST/MNIST.swift.

[2019-03-07 13:36] pruthiviraj71 opened #59 "Error when running MNIST"
I am having the following error trying to run the MNIST algorithm and I am not sure what is causing
it.

[code]

[2019-03-18 14:08] johndpope opened #62 "Transformer - errors - expected '(' in 'differentiable' attribute"
I'm on stable branch
10.14.4 Beta (18E215a)
Xcode - Version 10.1 (10B61)
I'm 0.2 Release toolchain
I'm on python3 / miniconda environment

As per instructions
swiftc -O -ltensorflow Operators.swift Model.swift PythonCheckpointReader.swift main.swift

- below I've captured two different errors running in terminal

Operators.swift:7:1: error: expected '(' in 'differentiable' attribute
func gelu<Scal

[2019-03-20 02:16] johndpope commented on #62
so it turns out the path swift-latest is not correctly updating with the 0.2 release.
toolchain_path: "/Library/Developer/Toolchains/swift-latest/usr/lib/swift/macosx/"

need to explicitly spell out
toolchain_path: "/Library/Developer/Toolchains/swift-tensorflow-RELEASE-0.2.xctoolchain/usr/lib/swift/macosx/"

[2019-03-20 02:16] #62 closed

[2019-03-20 10:11] johndpope commented on #59
so I got this working with xcode project. Are you linux?

if you're on xcode
try this
rename the MNIST -> main.swift

run this
**brew install xcodegen**

grab this file -> project.yml
**wget https://gist.github.com/johndpope/f6e6e21daedf95d8a230b3eddd551574**

then run
**xcodegen**

then
change Project Settings > legacy build system

then goto
**edit scheme > **
 tick the
- use custom working dire

[2019-03-20 10:41] johndpope opened #67 "Error running ResNet50 - Release 0.2 - incorrect argument label in call (have 'logits:labels:', expected 'logits:oneHotLabels:')"
![Screen Shot 2019-03-20 at 21 39 16](https://user-images.githubusercontent.com/289994/54678246-c5d84100-4b58-11e9-9ddb-f71d68118962.png)

simple fix will submit PR.
[code]

[2019-03-20 12:36] saeta commented on #67
Thanks for raising this issue, looking forward to your PR!

[2019-03-20 13:21] johndpope commented on #67
I applied the update, created an Xcode project but it actually just gets stuck building.  I’m on a 13 in MacBook Pro / mojave 10.14.4 beta / Xcode 10.1 /tensorflow release 0.2 / this is stuck in limbo.

[2019-03-23 20:23] #67 closed

[2019-03-24 15:21] pruthiviraj71 commented on #59
Sorry for the late response, Actually I got this fixed in Xcode and Jupyter too.
The main problem you see is

which implies that tensors shape do not match which is possibly caused by corrupt loading. To fix this I download the training files from the original URL and ran it again.

/Library/Developer/Toolchains/swift-tensorflow-RELEASE-0.2.xctoolchain

Also that is a great point. Development tool

[2019-03-24 15:21] #59 closed

[2019-04-13 17:43] valeriyvan opened #93 "Autoencoder example uses deprecated API and doesn't compile anymore"

[2019-04-13 17:51] rxwei commented on #93
[TF-193](https://bugs.swift.org/browse/TF-193) is the ongoing issue. If you are interested, you are welcome to join the effort! We plan to move swift-models to a SwiftPM package. This is blocked by the fact that the autoencoder example is not using the latest high-level APIs yet.

If you are interested and start to make progress, please send a reply here and to the JIRA bug. The changes should be

[2019-04-14 01:33] leoxzhao opened #94 "Transformer model can not handle batch_size bigger than 1 during inference."
When trying to do inference with more than one seed sentences or simply duplicate the input token like this:
[code]
It failed at line 113 of Model.swift
[code]
This is the error message:

Python version supports batch_size bigger than 1.

[2019-04-17 04:12] brettkoonce opened #101 "0.3 models pass"
@rxwei Did a quick pass:

  - ~~Transformer has a bunch of Int32 calls that will need to be updated~~ v2: #113 thanks @leoxzhao!
  - ~~MiniGo will require some ❤️ -> #114~~
  - ~~Autoencoder: see #93~~

Rest seem to be working!

[2019-04-17 04:25] rxwei commented on #101
Thanks a ton, Brett!

[2019-04-18 03:53] leoxzhao commented on #101
I updated Transformer model to work with April 16, 2019 Xcode toolchain (swift-tensorflow-DEVELOPMENT-2019-04-16-a-osx.pkg).

[2019-04-18 04:16] leoxzhao opened #104 "Inside `FeedForward`, input goes through `dense1`, `dropout`, `dense2`. Is it intentional?"
[code]
https://github.com/tensorflow/swift-models/blob/412a822a5c095c56504cae9681bd8ae1f8651edc/Transformer/Model.swift#L35

I did not find reference code in Python with dropout. I had the impression that dropout normally is added to the exit as the last operation before produces the final output. In this case, it would be dense1 -> dense2 -> dropout. This looks like a typo. But I don't possess th

[2019-04-18 17:28] jekbradbury commented on #104
Good catch!

The original Transformer performs dropout after the first dense layer in each feedforward block (see e.g. T2T code [here](https://github.com/tensorflow/tensor2tensor/blob/master/tensor2tensor/layers/common_layers.py#L1282-L1300)), but BERT performs it after the last dense layer in each feedforward block (see [code](https://github.com/google-research/bert/blob/master/modeling.py#L866-L

[2019-04-19 00:20] brettkoonce commented on #101
Transformer will require some tweaks to work with new layers api, very specifically in making AttentionInput play nice with being defined as a differentiable type.

[2019-04-19 00:22] brettkoonce commented on #101
@rxwei Transformer will require some tweaks to work with new layers api, very specifically in making AttentionInput play nice with being defined as a differentiable type.

#109, #110, #111 and #112 bring everything else forward (sans above).

[2019-04-19 12:33] leoxzhao commented on #101
I just read the callable proposal a few days ago. Now `Layer` is using it in April 18 Development Snapshots. This is fast. I am working on updating Transformer.

[2019-04-19 13:46] brettkoonce commented on #101
@leoxzhao cool!

[2019-04-19 13:57] leoxzhao commented on #101
Static callable (April 18 Xcode 10 Development Snapshot) has issue to handle `inout` parameter, which blocks Transformer model since it uses `inout` in a few places. I filed a bug at bugs.swift.org (https://bugs.swift.org/browse/TF-443).

[2019-04-19 14:55] brettkoonce commented on #101
@leoxzhao good find, nice testcase!

[2019-04-19 18:20] leoxzhao commented on #101
I played Go in university, but I was not an enthusiast. I left the MiniGo model for a few days to see if someone who really loved the game would claim it. A few days have passed, and nobody's claimed the model, so I've decided to take it.

[2019-04-19 19:07] rxwei commented on #101
The main author of Swift MiniGo (@xiejw) is also working on migrating it AFAIK. @xiejw, what's the current progress and is there anything we can help with? Perhaps someone can start a PR and we can iterate on it together?

[2019-04-19 19:41] rxwei commented on #101
Thanks for pushing this forward!

[2019-04-21 03:34] leoxzhao commented on #104
I re-read GPT-2 today. Compared with Python implementing of GPT-2, our EncoderLayer contains additional three dropout layers, `selfAttentionDropout`, `feedForwardDropout` and one inside of `FeedForward`.  Oddly, GPT-2 does not contain any dropout layers. I guess strategic placement of dropout layers one of the things that OpenAI is holding back. I am going to close this issue for now. We can revis

[2019-04-26 01:03] rxwei opened #124 "Merge 'master' into 'stable' for v0.3."
We've just released [version 0.3](https://github.com/tensorflow/swift/blob/master/RELEASES.md#version-03). Now it's time to merge `master` into `stable`!

[2019-04-26 01:03] rxwei commented on #101
Now that everything's done, I'm going to close this issue now! Huge thanks to @brettkoonce for coordinating this.

We've just released [version 0.3](https://github.com/tensorflow/swift/blob/master/RELEASES.md#version-03). Now it's time to merge `master` back into `stable`! I started #124 to track this task.

[2019-04-26 01:03] #101 closed

[2019-04-27 03:55] rxwei opened #126 "macOS troubleshooting"
## macOS Troubleshooting
If you see `TensorFlow not found` when building samples from command line or
[code]
make sure you've added the correct version of `swift` to your path.
eg.
[code]
The swift binary should be referencing the most updated toolchain bin path eg.
[code]

[2019-04-29 00:55] rxwei opened #133 "Use PascalCase for all file names."

[2019-04-30 13:35] johndpope commented on #126
Hi Richard,

so above note should read
export PATH=/Library/Developer/Toolchains/swift-latest/usr/bin:"${PATH}"
NOT
export PATH=/Library/Developer/Toolchains/swift-latest/usr/bin/:"${PATH}"
my bad.

I've configured this - and can successfully build -
but dropping into the sample for Transformer - ran into problem which references xcrun
for some reason - even though my xcode is correctly pointing t

[2019-04-30 23:58] johndpope commented on #133
If possible, would be neat to have main.swift in each example. This way - using tool like Xcodegen you can easily spit out a corresponding Xcode project all configured.

[2019-05-01 01:50] rxwei commented on #133
Yes, PascalCasing shouldn't apply to main.swift files as they are the entry point for each executable product.

[2019-05-01 16:33] johndpope opened #145 "Transformer sample fails with regex/ macos /miniconda"
[code]

[2019-05-01 16:34] johndpope commented on #145
[code]

so capturing this solution for others that maybe using miniconda -

[2019-05-01 16:34] #145 closed

[2019-05-02 03:46] leoxzhao commented on #126
This is how I use Swift for TensorFlow. It works on Mojave (I worked for High Sierra too before I upgraded).
Open Terminal (You can add it into your .bash_profile if you only use Swift command line for deep learning purpose.

[code]

After that, you can run

[code]

You can use `swift` command in the same way.

[2019-05-02 06:03] johndpope commented on #126
The discrepancy I can see is in the transformer repo / it spells out to use
xcrun swiftc  .....
Not simply swiftc.
Xcrun seems to default to 10.4 toolchain irrespective of Xcode being configured to use tensorflow toolchain correctly. If you run xcrun swiftc - does it compile or throw error?
We need to update the transformer readme to drop xcrun or append it with notes on using correct toolchain.

[2019-05-02 21:30] johndpope commented on #126
thx @leoxzhao  this resolves SDKROOT problem.

export SDKROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk

do you know of any problems if you don't spell out export  DEVELOPER_DIR? DEVELOPER_DIR=/Applications/Xcode.app/Contents/Developer

[2019-05-02 22:53] leoxzhao commented on #126
I just tried to set DEVELOPER_DIR to "". `swift` seems working fine. I probably added it with SDKROOT to give Swift for TensorFlow same environment variables as toolchain comes with Xcode. Just SDKROOT seems adequate.

[2019-05-04 16:17] saeta opened #146 "Neural style transfer example"
It'd be great to have an example for how to do neural style transfer incorporated into our example models.

[2019-05-04 16:19] saeta opened #147 "Speech to text example"
It'd be great to have an example speech to text model incorporated into our example models.

[2019-05-04 16:19] saeta opened #148 "Translation example"
It'd be great to have a neural machine translation model incorporated into our models repository.

[2019-05-04 16:23] saeta opened #149 "Object detection example"
It'd be great to have object detection models (e.g. RetinaNet and MaskRCNN) incorporated as part of our models repository.

[2019-05-04 16:25] saeta opened #150 "GAN example"
It'd be great to have a generative model incorporated as part of our models repository.

[2019-05-04 16:30] saeta opened #151 "Recommendations example"
It'd be great to have an example for neural recommendations using embeddings incorporated into our model repository.

[2019-05-04 17:21] valeriyvan commented on #149
Add YOLO to the list!

[2019-05-05 10:14] kirillbobyrev commented on #133
@rxwei for the reference: does "all file names" include Bash scripts (e.g. `Transformer/download_model.sh`) and Python sources (e.g. `Transformer/encoder.py`) or is my assumption that this only relates to Swift sources correct?

[2019-05-05 10:54] rxwei commented on #133
It only applies to Swift file names, yes. Thanks for checking!

[2019-05-05 10:55] #133 closed

[2019-05-06 02:49] brettkoonce commented on #146
ping @regrettable-username

[2019-05-06 03:04] regrettable-username commented on #146
Hey, I’d be more than happy to take on this task or lend a hand.

[2019-05-06 03:05] rxwei commented on #146
We are super happy for you to drive this!

[2019-05-07 00:59] johndpope opened #153 "transformer - opengpt - bump 117M -> 345m model"
openai have released 345m parameter model. https://twitter.com/OpenAI/status/1124440412679233536?s=20

https://github.com/openai/gpt-2
looks like a case we can simply pass 345M into
https://github.com/tensorflow/swift-models/blob/master/Transformer/download_model.sh#L4

Need to test this loads - will try later today.
https://github.com/tensorflow/swift-models/blob/a53966a2352d387ca74434c6a55588357

[2019-05-07 02:44] johndpope commented on #153
I updated 117M -> 345M

Input to reshape is a tensor with 3072 values, but the requested shape has 3060

[code]
it compiles fine - but ....

[code]

Fatal error: Input to reshape is a tensor with 3072 values

[2019-05-07 03:30] regrettable-username commented on #146
Awesome. I'll start converting my style transfer notebook into something more in line with what's already in this repo. I'd like to see if I can get an L-BFGS optimizer working as well. Adam produces decent results but requires a fair amount of hyper parameter tuning depending on the images used.

[2019-05-07 08:08] QuantumTCode commented on #150
I'll try implementing a GAN example.

[2019-05-07 08:10] rxwei commented on #150
Great, thank you!

[2019-05-08 23:58] leoxzhao commented on #153
#154

[2019-05-10 16:24] rsdel2007 commented on #151
I would like to contribute for recommendation example.

[2019-05-14 17:25] saeta commented on #151
Hi @rsdel2007 ! Thanks for taking this on. I recommend as a starting point the neural collaborative filtering model from MLPerf. There are reference models available at: https://github.com/tensorflow/models/blob/master/official/recommendation/README.md and https://github.com/mlperf/training/blob/master/recommendation/pytorch/ncf.py

In order to ensure you have a correct model, please be sure to en

[2019-05-15 01:28] zaidalyafeai opened #157 "Deep Dream Example"
I am preparing a deep dream example.

![image](https://user-images.githubusercontent.com/15667714/57742465-e8ef1f00-76c9-11e9-9dd7-64657b023d37.png)

[2019-05-15 01:37] zaidalyafeai commented on #157
One Issue that I am facing is finding the gradient of a specific activation. For instance suppose that output of a layer has the shape `[1, 7, 7, 32]` and I need to only include the loss at `[1, 7, 7, 0]` (S4TF throws an error that indexing is not differentiable) . One workaround is to multiply by tensors of zeros except at the activation index. Any better ideas ?

[2019-05-15 01:39] dan-zheng commented on #157
Advanced indexing/slicing APIs were recently added and should be made differentiable. 🙂
I wonder which specific indexing APIs are you using?

cc @rxwei @eaplatanios

[2019-05-15 01:43] zaidalyafeai commented on #157
@dan-zheng I am using the naive `tensor[0..<1,0..<7, 0..<7, 0..<1]`. For the record i am doing all my experiments of colab so the build might be old.

[2019-05-17 22:28] tonymaniaci opened #159 "dyld: Library not loaded: @rpath/libswiftPython.dylib on MacOS"

[2019-05-17 22:31] tonymaniaci commented on #159
dyld: Library not loaded: @rpath/libswiftPython.dylib
  Referenced from: /Users/tonymaniaci/Library/Developer/Xcode/DerivedData/moose2-bhlgnwyychpywtcuymrlparbuhng/Build/Products/Debug/moose2
  Reason: image not found
(lldb)

[2019-05-20 10:00] jbednarik1 commented on #159
Same issue here.
`
Legacy Build System
macOS 10.14.4
Command Line Tools: 10.2.1
Always Embed Swift Stardard Libraries: Yes
`

[2019-05-28 12:24] kamalkraj commented on #150
Hi @rxwei ,
I implemented GAN (https://github.com/kamalkraj/swift-models/blob/gan/GAN/main.swift)
But the loss is not changing . The code is ported from (https://github.com/diegoalejogm/gans/blob/master/1.%20Vanilla%20GAN%20PyTorch.ipynb)

@rxwei Could you please take look into it .

[2019-05-31 18:46] johndpope commented on #146
Have a look at this video by @Hvass-Labs - he has some critique on code (quite scathing on code) - https://www.youtube.com/watch?v=LoePx3QC5Js

His repo has over 7000 stars.
https://github.com/Hvass-Labs/TensorFlow-Tutorials/blob/master/15_Style_Transfer.ipynb

[2019-05-31 19:11] johndpope commented on #157
I think we need inception model - @Hvass-Labs - has prepared a well documented tutorial here
https://github.com/Hvass-Labs/TensorFlow-Tutorials/blob/master/14_DeepDream.ipynb

[2019-05-31 19:31] #153 closed

[2019-05-31 20:58] zaidalyafeai commented on #157
@johndpope I used a vgg model and it is working. The inception model might create better visuals, however.

[2019-05-31 22:51] johndpope commented on #146
ok - found this - https://github.com/regrettable-username/style-transfer - looks great @regrettable-username

[2019-06-05 01:57] rxwei opened #165 "Rename 'call' to 'callAsFunction'."
`Layer.call(_:)` has been renamed to `Layer.callAsFunction(_:)` (https://github.com/tensorflow/swift-apis/pull/172) as the result of [SE-0253](https://github.com/apple/swift-evolution/blob/master/proposals/0253-callable.md) proposal review. A toolchain with the new `Layer` definition is [ready for download](https://github.com/tensorflow/swift/blob/master/Installation.md#development-snapshots).

Ta

[2019-06-05 18:55] tbass134 commented on #159
Same issue as well

[2019-06-11 15:19] kefirski opened #169 "How does GPU support work?"
In PyTorch I am able to cast some tensor from cpu to gpu by calling special method `.to(device)` like `x.to(t.device("cuda:2"))` to cast x to gpu with id `2`.

It's unclear how does GPU/TPU support work in swift for tensorflow. I noticed that I could change env variable in collab from `None` to `GPU` and all computations would be performed on GPU, but how could I do something like that using compi

[2019-06-11 22:12] #169 closed

[2019-06-12 17:35] Shashi456 commented on #165
@rxwei I think this should be closed, given #166

[2019-06-22 19:00] Oktai15 commented on #36
@rxwei can we close it?

[2019-07-01 03:29] johndpope commented on #153
1.5 billion parameters will drop shortly - https://github.com/ConnorJL/GPT2

https://medium.com/@NPCollapse/replicating-gpt2-1-5b-86454a7f26af

Let's do this - @ConnorJL

[2019-07-01 08:18] ConnorJL commented on #153
Hi John, I think there is a bit of confusion here I'm sorry. As explained in my [follow up post](https://medium.com/@NPCollapse/the-hacker-learns-to-trust-62f3c1490f51), I actually don't plan on releasing 1.5B anymore, at least until OpenAI decides to release theirs. Sorry for the confusion.

[2019-07-22 18:37] 8bitmp3 opened #177 "ReLU implementation in Swift (for TensorFlow / S4TF)"
@rxwei your ReLU implementation in Swift 4 TF from forums.fast.ai is great. Unfortunately, it still returns an error with v0.4 in Colab—could it be the compiler issue? I have run the script to upgrade the Colab to the latest S4TF (it should be as of 07/22/19). If there is a current workaround let me know, maybe I missed something.

The issue was first raised here: https://forums.fast.ai/t/implemen

[2019-07-22 18:45] rxwei commented on #177
`call` has been renamed to `callAsFunction` in 0.4.

[2019-07-22 18:45] rxwei commented on #177
See https://github.com/tensorflow/swift-models/issues/165.

[2019-07-22 18:59] 8bitmp3 commented on #177
Thanks for a swift reply @rxwei

In Colab, the session crashes—tested a few times. Will run in Xcode later to see if it works there and will get back to you.

(added back the missing`self`s, replaced `call` with `callAsFunction`)
[code]

[2019-07-22 19:37] rxwei commented on #177
The code compiles file for me locally, but I've also reproduced the Colab crasher. We'll look into it.

[2019-07-24 00:45] t-ae opened #179 "Autoencoder's activation should be sigmoid"
It's using `tanh` in output layer.

https://github.com/tensorflow/swift-models/blob/08c80a5d797ed771df899169914f84d8dcaa9eec/Autoencoder/main.swift#L93-L94

But input image is [0, 1] ranged.

https://github.com/tensorflow/swift-models/blob/08c80a5d797ed771df899169914f84d8dcaa9eec/Autoencoder/main.swift#L74

In v0.4.0-rc2, if we use sigmoid, this model doesn't learn maybe because there's a bug I fi

[2019-07-24 00:55] rxwei commented on #179
Feel free to send a PR.

[2019-07-24 02:01] #179 closed

[2019-07-26 17:33] vvmnnnkv commented on #146
Hi @rxwei,
Are you interested in fast style transfer example? It's when then style is learned and then can be applied in one pass. I have inference part working with pretrained weights here
https://github.com/vvmnnnkv/s4tf-fast-style-transfer

[2019-07-27 01:37] saeta commented on #146
@vvmnnnkv definitely interested! Would you be interested in contributing? CC @BradLarson

[2019-07-28 16:30] vvmnnnkv commented on #146
@saeta @BradLarson sure! Is there a list of specific code requirements?
What I have is a separate swiftpm package, no image loading or weights loading code is included there (I'm going to import just the model as a library in a back-end service). In [sample notebook](https://github.com/vvmnnnkv/s4tf-fast-style-transfer/blob/master/Demo/Fast_Style_Transfer_with_S4TF.ipynb), images are loaded via Sw

[2019-07-28 21:59] BradLarson commented on #146
@vvmnnnkv - Image loading is something that I'm working on breaking out into a standard helper function that we can use across models here. If you just need to load images, and want to do so without OpenCV (SwiftCV), take a look at the `loadImageUsingTensorFlow` function I have here:

https://github.com/BradLarson/AlexNet-Swift/blob/master/AlexNet/ImageDataset.swift

That uses TensorFlow operators

[2019-07-30 16:42] vvmnnnkv commented on #146
@BradLarson -

Thanks!

Cool! Meanwhile, is there a preferred way to load weights? Currently, I just rely on KeyPathIterable and set weights via `model[keyPath:]`. But weights are loaded from numpy format, this creates Python/Numpy dependency.

Yes - I've added [example app](https://github.com/vvmnnnkv/s4tf-fast-style-transfer/tree/master/Sources/FastStyleTransferDemo) that applies style to jpeg i

[2019-07-30 18:10] BradLarson commented on #146
@vvmnnnkv - Regarding weight loading, you can use the TensorFlow Raw.restoreV2() function to pull in checkpoint files, as used in MiniGo's [PythonCheckPointReader](https://github.com/tensorflow/swift-models/blob/master/MiniGo/Models/PythonCheckpointReader.swift). That limits you to TensorFlow checkpoint files, but would remove a Python dependency.

I've also used binary weight dumps of my own maki

[2019-07-30 21:07] vvmnnnkv commented on #146
@BradLarson -
I can try to use TF checkpoint or perhaps load numpy file with pure Swift (shouldn't be too hard? :))
At which point do you think this model is viable for PR?

[2019-07-31 21:49] BradLarson opened #186 "ResNet variants currently cause a segmentation fault during training"
I'm still working on a smaller reproducer for this, but as of the latest nightly builds (since at least 7/25), the various ResNets (tested on 18, 34, and 50 depths) trigger a segfault during training on CIFAR-10. This happens even with ResNet-18 and a batch size of 1.

The following is what I see in the first 10 frames after the crash:

[code]

This appears to be localized to the ResNets, so hopin

[2019-07-31 21:51] #165 closed

[2019-07-31 21:54] #93 closed

[2019-07-31 21:54] #36 closed

[2019-08-01 20:43] BradLarson commented on #186
This is most likely caused by https://github.com/tensorflow/swift-apis/issues/411

[2019-08-02 12:58] BradLarson commented on #186
PR #187 fixes this for the models here (along with the mirror of that I added in PR #185), but the core issue is still being tracked over at tensorflow/swift-apis.

[2019-08-02 12:58] #186 closed

[2019-08-11 17:34] vvmnnnkv commented on #146
Hi @BradLarson,
Updated #191 to load from TF checkpoints. Numpy archive requires Zip dependency :)

[2019-08-15 19:32] FongHou opened #195 "Transformer example crashes"
Hello, I'm trying to run Transformer example, but getting this crash trace.

[code]
I'm using this S4TF build on Ubuntu 18.10 LTS

Welcome to Swift version 5.1-dev (LLVM 200186e28b, Swift 28eb536edd).

[2019-08-16 01:38] BradLarson commented on #195
I believe this is a known issue, related to BatchNorm and LayerNorm reshaping issues we've had for a few days. I'm tracking this down and trying to get a fix and tests in place.

[2019-08-16 16:08] rickwierenga opened #196 "Fails to install on Google Colab"
I would like to install this framework in Google Colab on the `blank_swift.ipynb` notebook.

My code:
[code]

It gives the following error:
[code]

Please let me know if you need additional information.

[2019-08-16 16:14] rickwierenga commented on #196
It turns out I was not using the API correctly. There needs to be a release of this project in order to install the module.

[2019-08-16 16:14] #196 closed

[2019-08-16 16:44] BradLarson commented on #196
If you don't want to wait for a release, you can use the project now by importing this based on branch:

[code]

[2019-08-17 16:46] rickwierenga commented on #196
For future people, the name needs to be one of the libraries defined in `package.swift`.

Using CIFAR10 example:
[code]

[code]

`trainingSet ` is a `Dataset< CIFARExample` that can be used with TensorFlow.

[2019-08-18 14:45] 8bitmp3 commented on #177
@rxwei it works, closing the issue :) great work!

![image](https://user-images.githubusercontent.com/19637339/63226122-300c1500-c1cf-11e9-8816-b8741f1bad35.png)

[2019-08-18 14:45] #177 closed

[2019-08-18 19:30] 8bitmp3 commented on #195
hey @BradLarson , I think I've got a similar issue with running a LeNet on MNIST in Colab. Let us know how it goes. Thanks for all the work 👍

[2019-08-19 00:23] 8bitmp3 commented on #150
Hey @rxwei I see that @t-ae and @BradLarson authored a first GAN example. Are you guys looking for more by any chance? Thanks

[2019-08-19 12:02] KimRoos opened #197 "Tabular data example"
It would be nice to have a example for tabular data, for instance Titanic.

[2019-08-20 00:32] 8bitmp3 commented on #150
https://forums.fast.ai/t/wasserstein-gan-in-swift-for-tensorflow/47635/7 just noticed this fella is working on Wasserstein GAN https://gist.github.com/rahulbhalley/a493d77dd9abf77a4e082fca801f0014#file-wgan-data-s4tf-swift

[2019-08-21 00:15] t-ae commented on #150
My example is non-convolutional one, so convolutional GAN would be good.
I think WGAN-GP will be good example of higher-order differentiation (but it's not available currently).

[2019-08-21 02:07] BradLarson commented on #195
This should be fixed, as of the nightly builds starting the August 16.

[2019-08-21 02:07] #195 closed

[2019-08-24 21:56] rxwei opened #199 "Convert MNIST to use 'Sequential'"

[2019-08-24 22:23] BradLarson commented on #199
Would it make sense to convert all linear models to use Sequential, or leave some one way and some the other as examples / test cases?

Should we try to apply Sequential to ResNet and other branching models?

[2019-08-24 22:33] rxwei commented on #199
I think it's fine to use `Sequential` wherever it's applicable, since it's already design-reviewed.  The reason I'm opening this ticket just for MNIST is because I wanted to see how things shape up in practice with the smallest step possible :)

[2019-08-27 18:03] rxwei opened #201 "Add unit tests for models"

[2019-08-27 18:07] Shashi456 commented on #201
@rxwei what do we check for in models when it comes to unit tests?

[2019-08-27 18:14] Shashi456 commented on #199
@BradLarson, what other linear models would you want to be converted to sequential? Now that we've decided not to convert the structure, should we still go ahead with that move as well?

[2019-08-27 18:22] rxwei opened #202 "Convert trivial models to use 'Sequential'"
After #199, there are some other trivial models that should be converted to use `Sequential`.

https://github.com/tensorflow/swift-models/blob/036f01450618f8b83feadbe370aef7e12d661d01/Gym/CartPole/main.swift#L39

https://github.com/tensorflow/swift-models/blob/036f01450618f8b83feadbe370aef7e12d661d01/Catch/main.swift#L46

https://github.com/tensorflow/swift-models/blob/036f01450618f8b83feadbe370ae

[2019-08-28 17:51] #202 closed

[2019-08-28 22:05] matheusalano commented on #159
Same here.

[2019-08-28 22:09] rxwei commented on #159
How did you open the project?

[2019-08-28 22:23] matheusalano commented on #159
@rxwei Sorry, are you asking how I opened a new project? If so, Xcode >> New Project >> macOS >> Command Line Tool.

After that, I followed the instructions from `https://github.com/tensorflow/swift/blob/master/Installation.md`

[2019-08-28 22:32] rxwei commented on #159
@matheusalano  Thanks for providing the context. There seem to be two different problems here: one could be running this error when compiling tensorflow/swift-models (since this is in the swift-models repository), and the other is compiling a newly created Xcode project like you described. For the latter, could you please file a separate bug in [tensorflow/swift](https://github.com/tensorflow/swif

[2019-08-30 02:17] huan opened #206 "Some known problems of the MNIST implmentation"
https://github.com/tensorflow/swift/issues/260#issuecomment-526353706

An improvement list for the MNIST dataset module, from @BradLarson:

1. [x] One big problem is that the current MNIST implementation in the repository lacks shuffling for the batches. The CIFAR10 dataset example has this, for example.
1. [x] Another is that it currently relies on hardcoded paths, which will break if you take th

[2019-09-03 05:46] magneter opened #207 "How could I load a pre-trained model which is trained by python in swift?"
Hi,I trained a model with tensorflow in python and I want to load it in swift.
How could I do this job?

[2019-10-14 03:57] mavenlin opened #216 "Target Autoencoder is broken"
Seems it doesn't build even the corresponding branch is checkout. In my case I installed the 0.5 release and build `tensorflow-0.5` branch. All other targets / products builds without problem. Building Autoencoder throws lots of error:

mainly complaining about:

- Expression at top level in the `cvae.swift` file, which is `matplotlib.use("Agg")`
- Invalid redeclaration of lots of variables in mai

[2019-10-14 14:30] mavenlin commented on #216
It was because I didn't remove `cvae.swift` after pulling the lastest code.

[2019-10-14 14:30] #216 closed

[2019-10-19 07:10] koen-dejonghe opened #217 "Transformer model: _vjpCausallyMasked does not take the enable flag into account"
The enable flag in function _vjpCausallyMasked is not used when calling causallyMasked.
Since the flag defaults to false on the latter function, masking is never executed.

https://github.com/tensorflow/swift-models/blob/41c4a7a782debc8361d1ba7c2de176c9c028b75e/Transformer/Model.swift#L102-L106

Solution:
[code]

[2019-10-19 07:17] rxwei commented on #217
Thanks for the bug report! Feel free to send a quick pull request if you like.

[2019-10-19 18:31] #217 closed

[2019-11-10 18:11] palle-k commented on #148
I have started an implementation of Seq2Seq with LSTMs and Attention [here](https://github.com/palle-k/swift-models). It currently crashes the compiler though.

[2019-11-10 18:19] Shashi456 commented on #148
@palle-k could you comment in the error in your file? Would be easier to understand if it's API issue or some trivial error

[2019-11-10 19:15] palle-k commented on #148
Apparently, there are multiple crashes involved. I have updated the code in my fork and marked the pieces of code that crash the compiler with `// MARK: Crash 1` and `// MARK: Crash 2` in Seq2Seq/Models.swift starting at line 237.

The relevant pieces are commented out and can be uncommented individually.

Crash 1 seems to occur when an empty if-statement or a empty for-loop is present:
[code]

Cr

[2019-11-11 11:37] dan-zheng commented on #148
Thanks for reporting! Both crashers you reported are known issues:
* [TF-922]: `Assertion failed: (lhs->getType() == rhs->getType() && "Adjoints must have equal types!")`
* [TF-924](https://bugs.swift.org/browse/TF-924): `Assertion failed: (pullbackStructElements.count(field) && "Pullback struct element for this field does not exist!")`

We'll visit these issues soon, thanks for your patience!

[2019-11-19 19:06] BradLarson opened #225 "Remove _Raw operators from models"
In an effort to layer APIs and allow for runtimes other than the traditional TensorFlow eager runtime, access to Raw TensorFlow operators have been marked as _Raw. This expresses that they should be considered as internal implementation details and should not be accessed directly.

These operators are used in several places within the swift-models repository, and we should replace them with higher

[2019-11-19 19:22] BradLarson commented on #124
Given that we did merge the 0.5 branch into stable, and are about to do this for 0.6, this issue might be slightly obsolete. Sorry for not cleaning this up when we took care of 0.5.

[2019-11-19 19:22] #124 closed

[2019-11-19 21:17] BradLarson commented on #206
Thanks for tracking this. PR #224 should have fixed the remaining issues, so I'll close this out now.

[2019-11-19 21:17] #206 closed

[2019-11-20 18:34] dan-zheng commented on #207
Unfortunately, we don't have a full story for importing pre-trained models from Python yet.

Related TensorFlow checkpoint reader: https://github.com/tensorflow/swift-apis/pull/529
Related discussions: [[1]](https://groups.google.com/a/tensorflow.org/forum/#!msg/swift/zaxfmhZmX-8/aorgIgrNAgAJ) [[2]](https://github.com/tensorflow/swift-apis/issues/25)

[2019-11-20 18:34] #207 closed

[2019-11-26 21:15] rickwierenga commented on #225
When I tried installing this repo in Google Colab I got the following (most likely related) error:

[code]
error:
[code]

Is there any work around for now?

[2019-11-26 21:46] BradLarson commented on #225
Colab is currently running on the 0.5 release toolchain, which is before we migrated over to the _Raw annotation here. The 0.6 release toolchain is currently under evaluation in Colab, hopefully we'll have that out soon publicly in Colab.

In the meantime, you can use the tensorflow-0.5 branch of swift-models within Colab to match up with the current toolchain. Again, it shouldn't be that much lon

[2019-12-02 06:45] nikochiko commented on #151
@rsdel2007 , @saeta , is this issue still open? I would like to contribute.

[2019-12-02 20:06] rickwierenga opened #233 "Loading MNIST in Google Colab"
As Brad mentioned in an earlier thread, the current version of S4TF used in Google Colab notebooks is 0.5, so the `tensorflow-0.5` branch of this project should be used.

When I try to load MNIST using the following code:
[code]

I get this error:
[code]

Is this the case because Colab is running an old version? Is there any workaround for now, or do we have to wait until Colab is updated?

[2019-12-02 20:29] BradLarson commented on #233
This is unfortunately an artifact of the older snapshot of the MNIST dataset, which didn't yet have the ability to download and place the appropriate files in the right location. That came in during the 0.5-0.6 interval, so it's only reflected in head and in the tensorflow-0.6 / stable branches.

The U.S. holiday slowed our progress on getting Colab updated, but I'm working on that right now. Sorr

[2019-12-04 19:18] texasmichelle opened #237 "Add ImageNette dataset"
ImageNet would be useful to include in this repo, but is very large and difficult to handle both in terms of downloading and processing. Instead, it would be great to have an adapted version of [ImageNette](https://github.com/fastai/imagenette), a much smaller dataset that roughly mirrors the accuracy of ImageNet.

/cc @BradLarson

[2019-12-04 19:22] texasmichelle opened #238 "MobileNet v1 model"
It would be great to have a version of MobileNet based on the [keras implementation](https://github.com/keras-team/keras-applications/blob/master/keras_applications/mobilenet.py).

Paper: [MobileNets: Efficient Convolutional Neural Networks for Mobile Vision Applications](https://arxiv.org/abs/1704.04861)

[2019-12-04 19:24] texasmichelle opened #239 "MobileNet v1 example"
Add an example that uses the MobileNet v1 model and the ImageNette dataset.

Blocked by #238, #237.

[2019-12-04 19:56] BradLarson commented on #237
As a public note, before anyone else might start working on this, I should have a pull request in within the next day or so to add this dataset. I've been working with [Ayush Agrawal](https://github.com/Ayush517) to add this to swift-models.

[2019-12-07 14:06] #197 closed

[2019-12-12 11:34] rickwierenga opened #253 "Why is ResNet fixed to only two datasets?"
It seems that you can only train a ResNet on these two datasets:

[code]

Without any useful customization options this seems unusable.

I think `DataKind` should have associated values which can be passed to the initializer to make it more flexible.

[2019-12-12 15:39] rickwierenga opened #254 "CIFAR10 on version 0.6 (Colab)"
I've loaded CIFAR10:
[code]

* How can I count the number of elements of this dataset?
* How can I access the nth element for visualization? I've tried the following:
[code]

but get this error:
[code]

[2019-12-12 15:45] rickwierenga commented on #254
Apparently counting objects is possible using the `master` version which is currently supported by Colab. Note that this might chance at any point.

[code]

[code]

[2019-12-12 16:01] saeta commented on #254
@rickwierenga I think if you assign the iterator object itself to a local variable, it will work. Check out this Colab: https://colab.research.google.com/drive/1UjJ6F6cLo5Sv4SczsiM5MNTMvXLmIOlU

Note: In the notebook I also confirmed that using `.branch("master")` does provide `.trainingExampleCount` (and that `.branch("stable")` does not). This functionality will likely go to `stable` on the next

[2019-12-12 16:05] rickwierenga commented on #254
Thanks!

Just made a very small PR to add the test example count: https://github.com/tensorflow/swift-models/pull/255

[2019-12-12 16:06] saeta commented on #253
I think it's not that you can only train on those 2 datasets, but rather that there are 2 variations of ResNet's, one that's optimized for CIFAR-sized images, and one that's optimized for bigger ImageNet images. Does that make senes? (I agree that this is a little confusing, and that a comment providing context would be very welcome as a PR!)

[2019-12-12 16:18] brettkoonce commented on #253
This is some old code from when there were only a few models in the repo that needs to be rethought.  Loosely, there are two problems this was trying to solve (see #156):

1) setting up the input filters for the network (non-obvious)
2) setting the number of output nodes (trivial)

(2) is handled better IMO by having an explicit classCount parameter, which is how the latest models work, so we shou

[2019-12-12 17:34] BradLarson commented on #253
I think Brett and Brennan provide the right context here. The ResNet model in the repository was originally designed to test that the framework could train a model of that complexity end-to-end. The published ResNet structure was designed against the ImageNet dataset, but we lacked the pipeline to pull in and train against ImageNet, so a modified version was used that could be run against CIFAR10

[2019-12-12 20:27] BradLarson commented on #233
Given that this finally went into production earlier this week, and we can now use the latest version of this dataset, I'll close this out.

[2019-12-12 20:27] #233 closed

[2019-12-12 22:04] rickwierenga commented on #253
Thanks! Can I close the issue because my question is answered or would you like to keep it open until it's fixed?

[2019-12-12 23:24] #238 closed

[2019-12-18 16:03] anigasan commented on #254
I made a colab notebook using CIFAR10 based on these inputs: https://colab.research.google.com/drive/1uL-f9AA_0FiNODcQYAmGmykLzpjSL8Cc.

I am wondering if you are planning to write more functions for easier data processing...

[2019-12-18 16:07] saeta commented on #254
@anigasan Could you elaborate a bit further on what you're looking for? Thanks!

[2019-12-19 17:45] BradLarson commented on #237
Completed via PR #241, although some more work is needed to reduce peak memory usage.

[2019-12-19 17:45] #237 closed

[2019-12-19 17:49] BradLarson commented on #239
Completed via PR #240, with training being verified in PR #241. For posterity, these are the results I see (against the test set) in the first ten epochs of training with Imagenette:

[2019-12-19 17:49] #239 closed

[2019-12-20 20:36] anigasan commented on #254
@saeta never mind!! I had spoken too early without trying all! I was trying to get a sample img and now I could pull from downloaded dataset using iterator.

[2019-12-30 15:22] rahulbhalley commented on #159
Anyone still having this problem may look at [this](https://github.com/tensorflow/swift/issues/177#issuecomment-569477582) solution.

[2020-01-02 13:48] 8bitmp3 commented on #253
Thanks for asking @rickwierenga and thanks for your explanations @saeta @BradLarson @brettkoonce. I am also going through the ResNet "v1" example and noticed this earlier. More flexibility in datasets would be awesome in the long run. The ResNet code is very clean, thanks @marcrasi @BradLarson and the team.

In case someone reading this thread is a bit confused, in the "main" `ResNet` model struct

[2020-01-02 15:56] #150 closed

[2020-01-02 16:56] 8bitmp3 commented on #126
Hey @rxwei 🙌 Do you think it makes sense for you or someone from the team to close this issue since it was opened all the way back in April 2019? A bunch of questions related to macOS have been answered on on `/tensorflow/swift` under Closed Issues and the Swift for TF Google Group under "Error while importing TensorFlow". Plus, with one of the latest nightly builds, macOS toolchains appear to wor

[2020-01-02 17:13] 8bitmp3 commented on #149
Just adding here what @BradLarson said in the Swift4TF Google Group: MobileNet v1 has just been added (by @texasmichelle 🙌 with @BradLarson) _"so that could be the basis for a MobileNet-SSD implementation if someone wanted to take that on."_

[2020-01-03 02:08] saeta commented on #126
+1 this seems stale; closing this out. For folks who have issues, please open new tickets. Thanks all!

[2020-01-03 02:08] #126 closed

[2020-01-03 10:46] johndpope commented on #157
fyi - @t-ae cut stylegan some months back - I wonder if there's interest to upgrade it to stylegan2 https://github.com/t-ae/stylegan-s4tf - seeing some amazing things on twitter by roadrunner https://twitter.com/ak92501

https://twitter.com/ak92501/status/1212784293723934726?s=20
<img width="598" alt="Screen Shot 2020-01-03 at 21 45 42" src="https://user-images.githubusercontent.com/289994/7171941

[2020-01-03 12:53] t-ae commented on #157
@johndpope
I have some reasons to think my code is not suitable for here.

1. As I wrote in readme, I used LSGAN loss instead of WGAN-GP because S4TF doesn't support higher order differentiation for now. I suspect it leads poor results.
2. My code generates 256x256 images, which is much smaller than original 1024x1024. And I have no resource to train 1024x1024 images.
3. I used tensorboardx wrappe

[2020-01-03 22:15] rickwierenga commented on #253
Thanks for the additional explanation @8bitmp3.

@BradLarson, do you have any update on making this struct generic? Here is the Keras reference: https://github.com/keras-team/keras-applications/blob/master/keras_applications/resnet50.py.

---

Apart from this particular issue, what is the key purpose of this repository? I'm a little confused as to whether it's supposed to be a model garden or data

[2020-01-03 23:14] BradLarson commented on #253
@rickwierenga - A little while ago, I put together [this document](https://docs.google.com/document/d/1eIFrogM7HYn-hIMvrVcoOGjC15KCxDEyn60GNX1_DJI/edit#heading=h.2kwalj5sazl4) to describe some of the goals of the repository and some near-term work that we'd be doing within it. There were four goals I listed there:

- Implement testing infrastructure for these models.
- Provide clear examples for h

[2020-01-03 23:55] saeta commented on #253
@rickwierenga I entirely agree with @BradLarson and think that this repository should have multiple libraries within it, some focused on data loading, some pre-built models, and some that depend on both to make higher-level abstractions and tools (and of course to do integration testing too). I really like https://github.com/tensorflow/datasets and think a Swift-flavored variation of that would fi

[2020-01-04 00:48] rakesh4real commented on #254
Hi,

In [swift-jupyter colab](https://colab.research.google.com/github/tensorflow/swift/blob/master/notebooks/blank_swift.ipynb),
[code]
produced error as `CIFAR10()` could not be found.

Solved the problem using
[code]

[2020-01-04 10:40] rickwierenga commented on #253
I see, thank you! By the way, I have made two comments on the doc Brad shared.

[2020-01-05 23:14] johndpope commented on #157
Hey @brettkoonce - I think instead of / (as well as socks) - need to be handing out some coupons for training on TPUs.  How do we get SfTF to support higher order differentiation ? is there a ticket to track that functionality? I understood S4TF would reach some parity with tensorflow eventually.

[2020-01-06 18:14] brettkoonce commented on #146
Now that #146 is merged can this be closed?

[2020-01-06 18:16] brettkoonce commented on #157
@johndpope probably a better question for @saeta than me.
In general now that #146 has been merged, maybe this can be closed as well.

[2020-01-06 19:22] BradLarson commented on #146
@brettkoonce - Good point, closing as completed.

[2020-01-06 19:22] #146 closed

[2020-01-07 07:02] johndpope commented on #157
my bad - Brennan Saeta  @saeta - are there any efforts to get S4TF working on TPUs?

[2020-01-08 23:28] #254 closed

[2020-01-11 06:58] ayush29 commented on #151
Interested.

[2020-01-14 15:19] BradLarson commented on #253
With PR #275, I think the remaining issues discussed here have been addressed, so I'll close this out. Thanks for the good discussion, everyone.

[2020-01-14 15:19] #253 closed

[2020-01-16 08:47] Shashi456 commented on #225
@BradLarson the image based raw operations don't have underlying wrappers in Swift-apis, how would you suggest supporting these operations?

[2020-01-16 14:27] BradLarson commented on #225
@Shashi456 - The checkpoint loading linked above is a different issue that's currently being addressed. For this, we need platform-independent and fast image loading and saving code (JPEG and PNG as primary targets) that has no dependencies on the TensorFlow runtime or libraries. For SwiftPlot, Karthik wrapped lodepng in a Swift interface, and for harebrain / SwiftAI they wrapped libjpeg-turbo.

I

[2020-01-17 20:06] boronhub opened #278 "Add support for addition of UCI datasets"
Most UCI datasets are comma seperated classification datasets, much like the IRIS dataset. The first tutorial in the S4TF docs is one where we train a model for classification based on the IRIS datset. It uses [this](https://github.com/tensorflow/swift/blob/master/docs/site/tutorials/TutorialDatasetCSVAPI.swift) file to create a dataset by defining datatypes and reading contents of the `csv` file.

[2020-01-18 09:12] rickwierenga commented on #278
It would be interesting to have a `DataLoader` struct with a `fromCSV(withURL url: URL)` initializer.

I'm not sure if we can support all UCI datasets at once since they are not all in the same format, but it would definitely be helpful if we could add support for some of them.

[2020-01-18 09:14] rickwierenga opened #280 "Add transfer learning support to image classification models"
It would be super helpful if we could use the predefined models in this repository with pretrained weights for transfer learning like keras-applications does.

[2020-01-18 10:04] boronhub commented on #278
Definitely not all, but certainly the csv ones. The other option is a full fledged Dataset API like TFDS, but that would require much more work.

[2020-01-18 10:05] Shashi456 commented on #278
There are raw ops available for csv loading

[2020-01-18 16:17] BradLarson commented on #280
This is a goal, and it's one reason why we've been working on a robust checkpoint loader. It's also a reason why we've created a Google Cloud Storage bucket for hosting datasets and weights.

My plan is to first finish the checkpoint loader, then initially target loading pretrained weights via TensorFlow v2 checkpoints into our image classification models for accuracy-based inference unit tests. A

[2020-01-18 18:51] rickwierenga commented on #280
Great!

[2020-01-19 14:38] WilliamHYZhang commented on #278
I am wondering, could we perhaps use the Python interop to load these datasets from TFDS and convert them to swift format?

[2020-01-19 21:25] rickwierenga commented on #278
I think it could be used, yes (haven't tested it). But it would probably be quite slow considering you'd have to use Python every batch. It could be a temporary fix, good idea.

I'm curious to see how this works out. @WilliamHYZhang, maybe we could work on something together in the future?

[2020-01-19 22:49] WilliamHYZhang commented on #278
@rickwierenga I'm down for it! Looking forward to working together.

[2020-01-23 21:50] rickwierenga opened #285 "Add option to not normalize CIFAR10 images"
I noticed that https://github.com/tensorflow/swift-models/blob/master/Datasets/CIFAR10/CIFAR10.swift always normalizes images. I would like to contribute a flag where the user can set `normalizing: false`.

The new function declaration would be:

[code]

We should use a default value for `normalizing` so it is compatible with previous versions.

[2020-01-23 21:58] rickwierenga opened #286 "Add citation requirement to datasets"
We should consider adding a soft requirement for citations. I would suggest adding an optional value `var citation: String? { get }` to ImageClassificationDataset. This should be optional because not every dataset has a citation available.

I'm willing to create a PR for this if the team agrees.

[2020-01-23 22:53] BradLarson commented on #286
To date, our tendency has been to add citations to the header comments of models, datasets, and so on. What would be gained by having this inside the code itself? Where would this be read at runtime?

[2020-01-24 08:41] rickwierenga commented on #286
You're right. I noticed it was missing here while TFDS had it so I thought it would be a nice addition. But in fact it's not even needed.

We could add BibTeX citations to the files though?

[2020-01-24 19:46] WilliamHYZhang commented on #278
@rickwierenga and I have been working on some cool stuff in our new organization "S5TF Team". We have gotten TFDS Python interop working in our examples repo [here](https://github.com/s5tf-team/examples/blob/master/TFDS_Python_Interoperability.ipynb). More importantly, we've also been working on a new dataset API to address some of the aforementioned issues, feel free to check it out [here](https:

[2020-01-27 00:13] rickwierenga opened #289 "Update autoencoder"
Hi,

May I update the auto encoder model with the following models: https://github.com/rickwierenga/notebooks/blob/master/autoencoders.ipynb (in Swift, of course) ? The proposed models are more extensive and I think they have better results than the current implementation.

Let me know what you think.

[2020-01-27 23:05] BradLarson commented on #289
I'm not attached to the current dense model, I just like how simple it is for demonstrating the core concepts and acting as a quick test. If you want to replace it with their dense model, which should be just as simple but performs better that sounds reasonable.

I don't want to make the model overly complex, because I still want it to be a good quick demonstration, but if you have a clean way to

[2020-01-28 13:19] rickwierenga commented on #289
That sounds perfectly reasonable. I think a convolutional auto encoder would showcase transposed convolutional layers a little more, together with DCGAN. An auto encoder with drop out (or any other way of applying noise to the input) would not add much value here.

---

I think it would be a great idea to split this repo into two (well, actually three with datasets) main parts:

1. **Notebook exam

[2020-02-01 14:03] rickwierenga opened #296 "Tests crash: swift-models/FastStyleTransfer/Utility/Resize.swift:18:1: error: unknown attribute 'derivative'"
[code]

[code]

I'm running macOS 10.15.2 with the newest CPU swift toolchain. My fork is up to date with `master`.

[2020-02-04 19:27] BradLarson commented on #296
Which macOS toolchain is this with? Toolchains since December or so should show a version of Swift of 5.2-dev, and only the nightlies since 0.6 should have support for @derivative. That's a reasonably new attribute and the models were updated to use this. The upcoming 0.7 release should have this in it, as do the nightlies.

[2020-02-04 20:07] ematejska commented on #296
FYI, the 0.7 release is scheduled for next week.  You can get a heads up by trying the development toolchain today (https://github.com/tensorflow/swift/blob/master/Installation.md#development-snapshots).

[2020-02-04 21:58] brettkoonce commented on #296
working with master here

[2020-02-05 17:29] rickwierenga commented on #296
How do I run tests with the new toolchain?

[code]

The swift toolchain in Installation.md does not work:

[code]

Same issue when using `export`:

[code]

[2020-02-05 17:46] brettkoonce commented on #296
@rickwierenga try this build: tensorflow/swift/pull/378

[2020-02-05 17:49] rickwierenga commented on #296
@brettkoonce thanks, but I'm not sure how to use this.

[2020-02-05 18:12] brettkoonce commented on #296
@rickwierenga download the new [build](https://storage.googleapis.com/swift-tensorflow/mac/swift-tensorflow-DEVELOPMENT-2020-02-04-a-osx.pkg), install it, launch + select with xcode, set PATH, go to swift-models folder, run ```swift test```,  if you get an error about xctest, run ```sudo xcode-select -s /Applications/Xcode.app/Contents/Developer```

[2020-02-05 18:19] #296 closed

[2020-02-12 18:38] saeta commented on #286
Hi @rickwierenga ! I think for now, we'll default to have citations in the doc comments for the datasets, but to keep things simple for now, we'll not yet add a citation field in the protocol requirements. Thanks @rickwierenga !

[2020-02-12 18:38] #286 closed

[2020-02-12 18:47] saeta commented on #35
We'd love for someone to open a PR with a working UNet example! :-)

[2020-02-13 06:46] Shashi456 commented on #201
@BradLarson Now that we are doing very basic tests for the image models, how do you want to benchmark for inference accuracy and inference speed? do you want to record them on github, or are these to be run locally and updated on this thread? Because IMO, adding accuracy tests might make the basic build very long. We could either have multiple stages of build or check once in a while o.O

[2020-02-13 21:41] BradLarson commented on #201
@Shashi456 - For performance benchmarks, we are building out public and internal infrastructure that will run those independently of the normal unit tests. The [Benchmarks target](https://github.com/tensorflow/swift-models/tree/master/Benchmarks) is one aspect of this, and we've started testing out the performance measurements it returns.

When it comes to remaining tasks for unit testing models,

[2020-02-14 16:21] BradLarson opened #315 "Improve BERT model"
After importing the initial BERT model into the repository, there are a few remaining to-do items to expand upon this work (extracted from [Dan's comment](https://github.com/tensorflow/swift-models/pull/231#issuecomment-586036174)):

- [ ] Rewrite utilities for downloading/extracting data in this PR using unified ModelSupport APIs. Consider generalizing DatasetUtilities.downloadResource to support

[2020-02-16 17:32] pedronahum opened #326 "differentiation of coroutine calls is not yet supported"
Hi,

I am testing S4TF for financial applications given the AD capabilities. And I am facing an issue that i have not seen documented or raised. Your guidance is greatly appreciated.

In particular, when an array is updated in a loop, the code below will fail to compile (S4TF v0.7-rc2 Ubuntu CPU Only). The same code will crash Google Colab.

[code]

If I attempt to get the gradient of the code abo

[2020-02-16 20:00] pedronahum commented on #326
Closing in swift-models, but opening in tensorflow/swift

[2020-02-16 20:00] #326 closed

[2020-02-16 21:18] dan-zheng commented on #326
Thanks for sharing your financial application use case! That's quite interesting.

Automatic differentiation is implemented in the Swift compiler, so Issues related to automatic differentiation are actually tracked at https://bugs.swift.org, not at https://github.com/tensorflow/swift. Please file issues there!

Coroutine differentiation support is tracked at TF-1080. [This comment thread from TF-1

[2020-02-17 19:42] pedronahum commented on #326
Hi @dan-zheng

Many thanks for getting back to me! Greatly appreciated!

Unfortunately, the workaround is not addressing my issue (v0.7-rc2 Ubuntu CPU Only). I get the same compile error, plus an additional warning that "count" was never used in the Array extension.

Will use JIRA to illustrate the example.

Thanks,

Pedro N.

[2020-02-19 16:58] BradLarson commented on #278
As a quick update, one example of this was just incorporated in PR #311 by Jacopo Mangiavacchi.

[2020-02-20 02:53] 8bitmp3 opened #332 "New v0.7 toolchain works; `Datasets` compiled with Swift 5.2 "cannot be imported by the Swift 5.1 compiler""
Toolchain: s4tf v0.7 (new).
Xcode: 11.0 (shall I try 11.4?).
Swift: 5.1
Example: VGG16 on Image🐶woof

Error:
`Datasets` module "compiled with Swift 5.2 cannot be imported by the Swift 5.1 compiler..."
<img width="645" alt="image" src="https://user-images.githubusercontent.com/19637339/74895864-b413a500-538a-11ea-9622-23443cf5dd61.png">

Overall, awesome job on v0.7, worked well on another example,

[2020-02-20 03:00] BradLarson commented on #332
I don't see this under Xcode 11.0 myself. In cases where I've encountered this error, it was usually due to some weird caching in temporary build directories. Try clearing out .build and / or the DerivedData location for this project and building cleanly just using the 0.7 toolchain.

[2020-02-20 03:00] dan-zheng commented on #332
Have you tried a clean Xcode build? (`cmd+shift+k`)
If that doesn't work, could you try deleting `~/Library/Developer/Xcode/DerivedData`?

[2020-02-20 06:01] Shashi456 opened #333 "Add support for Imagenet"
In order for inference tests in #201 to be possible, we should consider adding support for the imagenet dataset since most pretrained weights for models are released after having been trained on imagenet. The API wouldn't necessarily need to support downloading but post processing similar to tensorflow datasets [implementation](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets

[2020-02-20 17:54] 8bitmp3 commented on #332
Aye @BradLarson and @dan-zheng. Cleaning sorted (`cmd+shift+k`) sorted it out. Cheers, wizards you are.

![image](https://user-images.githubusercontent.com/19637339/74963588-e3b5c200-5409-11ea-8236-d75db83c2bef.png)

[2020-02-20 17:54] #332 closed

[2020-02-22 08:44] vballoli commented on #35
Can I take this PR up ?

[2020-02-23 02:17] 8bitmp3 opened #341 "Imagenette dataset opening archive"
Hey @BradLarson and @sgugger Thanks a lot for your efforts, really good stuff 👍.

I have a small issue with extracting the Imagenette archive, once it's been downloaded, before training MobileNetV1. I've tested this both in Xcode and Colab. See error messages snippets below to give you a better idea.

The downloaded dataset is likely stored in a folder - `Imagenette` - though in Colab it's not a f

[2020-02-23 17:42] BradLarson commented on #341
I think that's a consequence of the way downloading was reworked internally, and the sequence of the pull requests here. The Batcher pathway hadn't been updated like the others, which I've done in PR #342.

[2020-02-23 18:01] 8bitmp3 commented on #341
Thanks @BradLarson, adding `isDirectory: true` in the `ImagenetteBatchers` struct in your very swift PR #342 did the job. I've just tested it in Colab and it works on my side (`%install '.package(url: "https://github.com/BradLarson/swift-models", .branch("ImagenettePathFix"))' ImageClassificationModels Datasets ModelSupport`).

(Context: `Imagenette.swift`:

)

Will close after it's merged into ma

[2020-02-23 21:28] #341 closed

[2020-02-24 17:50] vballoli commented on #35
@saeta @dan-zheng I've finished the UNet model, but I'm unable to find an appropriate dataset for the implementation, for example the dataset used in the [paper](https://arxiv.org/pdf/1505.04597.pdf) i.e [website](http://brainiac2.mit.edu/isbi_challenge/) has images in tiff format and I'm having some issues loading it, which I'll be putting up on the Google groups, but I'd love your suggestions fo

[2020-02-24 18:02] brettkoonce commented on #35
oxford pets dataset has segmentation masks:  https://www.robots.ox.ac.uk/~vgg/data/pets/

[2020-02-26 07:09] manideep2510 commented on #147
@saeta Can I work on this and submit a PR?

[2020-02-26 07:18] saeta commented on #147
@manideep2510 That would be great! As far as I know, no one else is working on such a representative model at this time. Thank you very much!

[2020-02-26 08:14] manideep2510 commented on #147
Ok then, I will start working on it.
I will try to implement [Deep Speech 2](https://arxiv.org/abs/1512.02595).
And I couldn't find an implementation for CTC loss in Swift. Is there one or should I implement it and push it to [tensorflow/swift-apis](https://github.com/tensorflow/swift-apis)?

[2020-02-26 15:25] saeta commented on #147
Sounds great @manideep2510 ! I look forward to seeing what you're able to produce!

As for the CTC loss, I recommend first writing it next to your `Deep Speech 2` implementation. This will allow you to iterate quickly without waiting for updated versions of `swift-api`s. Additionally, this will let you ensure it trains properly / converges. Once we get your Deep Speech 2 implementation merged into

[2020-02-28 06:21] dan-zheng commented on #159
Closing now. This issue seems relevant (maybe only) for macOS Catalina. [The fix](https://github.com/tensorflow/swift/issues/177#issuecomment-569477582) (from right above):

[2020-02-28 06:21] #159 closed

[2020-02-28 19:43] BradLarson opened #354 "Evaluate replacing Commander with ArgumentParser in Benchmarks"
Apple recently unveiled the [ArgumentParser](https://swift.org/blog/argument-parser) library for easing the parsing of command-line options. The [Benchmarks](https://github.com/tensorflow/swift-models/tree/master/Benchmarks) target currently uses Kyle Fuller's [Commander](https://github.com/kylef/Commander) to provide a clean interface for command-line options.

[ArgumentParser](https://github.com

[2020-02-29 13:55] manideep2510 commented on #147
Understood. Thanks.

[2020-03-01 12:27] sainikhit2k commented on #285
Hi ,  is this issue currently open ? If it is I would like to contribute to this issue

[2020-03-01 12:38] rickwierenga commented on #285
@sainikhit2k, I think @manideep2510 is working on this in https://github.com/tensorflow/swift-models/pull/349

[2020-03-03 08:29] rahulbhalley commented on #147
@manideep2510 I think you can access CTC loss from `_Raw` enumeration. You can make it differentiable also in Swift.

[2020-03-03 16:07] BradLarson commented on #285
Fixed by PR #349.

[2020-03-03 16:07] #285 closed

[2020-03-04 16:10] vguerra commented on #354
I started to play with ArgumentParser when it was announced and tried to use it in this repo .. I was not aware that @BradLarson had created this Issue here ..  but if it is of any help for you @shabalind .. I published what I ended up with here: https://github.com/vguerra/swift-models/commit/3c4e2cc68311c1b7ef9bcdb723d2ea748e30a160

[2020-03-04 17:31] shabalind commented on #354
@vguerra Do you mind opening a PR, the changes look like a fix for this issue! 👍

[2020-03-04 21:52] vguerra commented on #354
sure @shabalind .. I pushed https://github.com/tensorflow/swift-models/pull/357

[2020-03-06 18:14] SumanSudhir commented on #151
@BradLarson @saeta  can you please review my code for preparing MovieLens dataset [Here](https://github.com/SumanSudhir/NeuMF-Swift/blob/data/data/MovieLens.swift) . There is also a notebook in the same folder to run and visualize the training data

[2020-03-06 19:45] BradLarson commented on #151
@SumanSudhir - That looks like a great start. You might examine the possibility of incorporating that with [Batcher](https://github.com/tensorflow/swift-models/tree/master/Batcher) as we migrate towards that in the datasets here.

Stylistically, there are a number of small changes I'd suggest, such as relying more heavily on type inference and not explicitly declaring types (such as in the let sta

[2020-03-08 21:14] s1ddok commented on #35
I've got a U-Net based generator for my pix2pix implementation. I would be happy to contribute it to this project in case you think that implementation is good

https://github.com/s1ddok/pix2pix-s4tf

[2020-03-09 03:59] manideep2510 commented on #147
Thank you, I found the classes for [CTC loss](https://www.tensorflow.org/swift/api_docs/Enums/-Raw#/s:10TensorFlow4_RawO7cTCLoss6inputs13labelsIndices0F6Values14sequenceLength26preprocessCollapseRepeated08ctcMergeM029ignoreLongerOutputsThanInputsAA0A0VyxG4loss_AN8gradienttAN_AMys5Int64VGAMys5Int32VGAVS3btSFRzAA0aB6ScalarRzlFZ) and [decoder](https://www.tensorflow.org/swift/api_docs/Enums/-Raw#/s:1

[2020-03-09 15:22] vballoli commented on #35
I'm almost done with the UNet example code with the EM Segmentation dataset as implemented in the paper. Sorry about the delay, I was in the midst of my exams and couldn't devote much time. Should be sending a PR in day.

[2020-03-11 18:23] texasmichelle opened #369 "Document CMake setup and usage instructions in contributor guide"
Since CMake has been added to Kokoro and blocks PR merges, the contributor guide needs documentation on local setup and usage. README.md contains basic information labeled as experimental, but this could graduate and move to CONTRIBUTING.md with a bit more detail.

[2020-03-11 23:34] brettkoonce opened #374 "crash with batchSize = 2 and GPT2-WikiText2 demo"
set batchSize to 2 in the demo, add following to loop over dataset:

[code]

run: `swift run GPT2-WikiText2`

Fatal error: Shapes of all inputs must match: values[0].shape = [1024] != values
[1].shape = [500]: file /home/skoonce/swift/swift-source/tensorflow-swift-apis/S
ources/TensorFlow/Bindings/EagerExecution.swift, line 300

works with bs = 1, something in https://github.com/tensorflow/swift-m

[2020-03-11 23:41] sgugger commented on #374
@texasmichelle was reporting something similar when changing `sequenceLength` from 72 to 1024. I'll investigate tomorrow and see if I can reproduce.

[2020-03-12 14:31] texasmichelle commented on #374
Thanks for surfacing this issue! I'll take a look.

[2020-03-12 14:54] brettkoonce commented on #374
@texasmichelle tis a cool demo, was trying not to spam you with nits!

[2020-03-12 15:45] texasmichelle commented on #374
Thanks for the quick fix @sgugger ! I added a few comments since it fixes the batchSize = 2 case, but breaks the default batch size of 64. A bit of additional troubleshooting info: without your fix, if I inject a shape check that skips batches with lengths less than sequenceLength, this works fine as long as I have shuffling turned off. With shuffling on, the error seems to occur prior to the shap

[2020-03-12 17:34] BradLarson opened #381 "Datasets should not be re-downloaded on each run of a test"
Originally, our intent with the dataset unit tests was to test them from a common starting point each run. That meant manually deleting any locally cached versions of the dataset and forcing a re-download. While that is a noble goal, in practice this is slowing down model tests and using a lot of unnecessary bandwidth.

Therefore, we've decided that it's fine to re-use cached local data for these

[2020-03-12 18:24] SumanSudhir commented on #151
@BradLarson I am able to train NeuMF model. You can run it by cloning the repo and running the command `swift build` and `swift run`
Since it is taking considerable time to run even one epoch on CPU so I need to train it on GPU. Can you please have a look at the [code](https://github.com/SumanSudhir/NeuMF-Swift.git) and test it

[2020-03-13 00:36] #374 closed

[2020-03-13 05:15] vballoli commented on #381
Shouldn't this line in here: [DatasetUtilities.swift](https://github.com/tensorflow/swift-models/blob/master/Datasets/DatasetUtilities.swift#L42) be changed to `resource.remoteURL` to fix this issue? I noticed that `fetchResource` checks for the file without the `Resource`'s extension ending up with showing that the file always never exists.

[2020-03-13 05:41] BradLarson commented on #381
I'm largely referring to cases like the CIFAR10 dataset, which [explicitly is deleted before a test is performed](https://github.com/tensorflow/swift-models/blob/master/Tests/DatasetsTests/CIFAR10/CIFAR10Tests.swift#L9). I believe the BostonHousing dataset also downloads itself each time it is used, because it [does not check if the dataset is present locally](https://github.com/tensorflow/swift-m

[2020-03-13 16:22] texasmichelle opened #385 "Resolve occasional crash in TransformerDemo"
TransformerDemo occasionally crashes unexpectedly. Figure out why!

[2020-03-13 16:26] texasmichelle opened #386 "Replace endoftext token with newline in TransformerDemo"
TransformerDemo sometimes generates the "<|endoftext|>" token. Replace this with a newline.

[2020-03-13 16:29] texasmichelle opened #387 "Move TransformerDemo into Examples"
Move the remaining code in the Transformer folder into Examples. This could go either in Examples/GPT2-WikiText2 or a new folder along the lines of Examples/GPT2-Generation.

[2020-03-13 16:33] texasmichelle opened #388 "Replace Vocabulary attributes with BijectiveDictionary"
In Vocabulary, the attributes [tokensToIds and idsToTokens](https://github.com/tensorflow/swift-models/blob/master/Support/Text/Tokenization.swift#L41-L42) are a good candidate for replacement with [BijectiveDictionary](https://github.com/tensorflow/swift-models/blob/master/Support/BijectiveDictionary.swift). BERT and GPT2 both use Vocabulary, so ensure that functionality remains after the switch.

[2020-03-13 16:37] texasmichelle opened #389 "Remove use of deprecated substring"
The build produces a warning about the use of substring, which was merged as a workaround for the macOS build in #375 .

Replace this with a less-confusing, non-deprecated statement.

[code]

[2020-03-13 17:00] BradLarson commented on #387
I started speculating on some renaming in the Readme within PR #377, to bring it closer in line with the GPT2 training model. Agreed that "Transformer" sounds a little too generic now and that it would be nice to continue consolidating examples.

[2020-03-13 22:43] texasmichelle commented on #385
I believe this is related to the context size.  Every time `GPT2.generate()` is called, the attention context is mutated ([`states` in `TransformerLM.callAsFunction()`](https://github.com/tensorflow/swift-models/blob/master/Models/Text/GPT2/TransformerLM.swift#L327)). When `states` surpasses 1024 tokens, the app crashes with this error:

[code]

The context size is defined when loading the pre-tra

[2020-03-13 22:46] #386 closed

[2020-03-13 23:35] texasmichelle opened #392 "Transformer: make line breaks universal"
Replace "\n" generated by GPT2 with "\r\n" so that platform-specific post-processing is not necessary.

[2020-03-14 00:00] #392 closed

[2020-03-16 17:35] vballoli opened #397 "Build fails due to API changes"
The build fails while compiling `ResNet` and `ResNetv2` since `useBias: false` is used. By simply removing this argument, this should be fixed right ? I'd like to open a simple PR fix for this.

[2020-03-16 17:41] Shashi456 commented on #397
`useBias` by default is true. Removing the argument would make it true so I don't think that's desirable.

[2020-03-16 17:44] vballoli commented on #397
Right now both the variants of `ResNet` use `Conv2D(filterShape:, strides:, padding:, )` as their initialize call, which has the default argument of `biasInitializer:zeros()`, so technically that's the equivalent of `useBias: false`, right ? @Shashi456

[2020-03-16 17:45] vballoli commented on #397
I'm referring to this call: https://www.tensorflow.org/swift/api_docs/Structs/Conv2D#initfiltershape:strides:padding:dilations:activation:filterinitializer:biasinitializer:

[2020-03-16 18:05] Shashi456 commented on #397
@vballoli zeros just initializes the bias variable to a tensor of zeros.

[2020-03-16 18:27] vballoli commented on #397
Oh yeah, I just realized it, my bad. Misread `bias != nil` for the initializer call. `useBias` was added later on by @sgugger. I guess a rebuild should fix it! Thanks a lot!! @Shashi456

[2020-03-16 18:27] #397 closed

[2020-03-16 20:42] BradLarson commented on #397
I'll also point out that if you're seeing this in Colab, that's because we made this change in anticipation of Colab being updated with the 0.8 toolchain quickly. We hit a slight delay on that, but still expect the 0.8 toolchain to go live in Colab any day now. This API mismatch will be resolved in Colab once that happens. You can switch to the "tensorflow-0.7" branch of swift-models if you need t

[2020-03-19 16:38] vballoli opened #402 "Corrupt zip files"
Hi, I'm trying to download a zip file hosted on a GitHub repository(a dataset), but it's always getting corrupted when I use `downloadResource() ` or use `FoundationNetworking`'s URLSession and download. Any idea how I can fix this ?

P.S. `wget {fileURL}` works fine, so it's not a file problem.

[2020-03-19 16:44] brettkoonce commented on #402
can you post code?  have you tried repurposing DatasetUtilities.fetchResource?

[2020-03-19 17:22] vballoli commented on #402
I've tried using `download()` directly from `ModelSupport`'s `FileManagement`, but it's the same error, so I'm assuming it's something to do with Swift's `Data` implementation. Here's the code I'm using:

[code]

[2020-03-21 11:34] SaiHemanthBR commented on #402
This looks like an Ubuntu-specific issue with how Swift handled Data Implementation.
Working fine on macOS.

[2020-03-22 13:35] Kshitij09 opened #407 "`ImagenetteBatchers` localStorageDirectory should be changed"
Currently, `ImagenetteBatchers` download the dataset to default 'temporary' directory (/tmp in my case). The problem I'm facing is the downloaded dataset gets removed on every system reboot and hence the `Batchers` start re-downloading it.
[code]

The workaround I did is to copy downloaded folder to some persistent path and copy it back to expected path by `ImagenetteBatchers` before using it.

[2020-03-22 13:46] Kshitij09 commented on #225
@BradLarson I was in need to use `_Raw.randomStandardNormal()` for some testing purpose and I'm guessing I shouldn't (inferring from this issue). What alternatives do we have for such random Initializations? I found [there's](https://www.tensorflow.org/swift/api_docs/Structs/Tensor#declaration_115) an `init` method of `Tensor` struct.

[2020-03-23 12:42] #354 closed

[2020-03-23 13:27] BradLarson commented on #407
The system temporary directory has been intentionally chosen as a default cache location because it's generally present on every system and is user-writable. This is intended as a cache, and not permanent storage, so it can be anticipated that it might be wiped on reboots.

The Imagenette and other datasets allow you to override this location using the `localStorageDirectory` parameter, and the do

[2020-03-23 13:41] BradLarson commented on #225
@Kshitij09 - You shouldn't need to use a _Raw operation for a standard normal initialization of a tensor, [this initializer](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Initializers.swift#L436) should do what you want.

[2020-03-23 14:25] Kshitij09 commented on #225
I'm still new to the framework and `_Raw` was the first thing came into my mind. Thanks! :sweat_smile:

[2020-03-23 15:51] Kshitij09 commented on #407
Got it! thanks for the clarification. :+1:

[2020-03-23 15:51] #407 closed

[2020-03-23 18:09] Kshitij09 opened #410 "Update FastStyleTransfer ColabDemo"
May I update [ColabDemo](https://github.com/tensorflow/swift-models/blob/master/FastStyleTransfer/Demo/ColabDemo.ipynb) notebook with following changes?

- [ ]  'open in colab' link still points to  @vvmnnnkv's colab notebook which is not up-to-date with recent changes such as integrating `PythonKit` and new `CheckpointReader`; So I guess it should be changed to an updated one.

 ~The 2nd cell of

[2020-03-23 20:37] BradLarson commented on #410
I think the problem with that one cell is that the statements should be on separate lines. You can have both Swift code and conditionals in the same cell, but pieces of that should be on individual lines, not merged together like that.

We'd be glad to review a pull request to fix this.

[2020-03-23 20:56] Kshitij09 commented on #410
Cool ! I'll come up with a PR to fix that

[2020-03-24 14:48] SaiHemanthBR commented on #381
I'm happy to work on this issue.

[2020-03-24 16:43] #410 closed

[2020-03-24 22:20] #387 closed

[2020-03-27 07:32] Shashi456 opened #423 "[Discussion] Solutions for Loading pretrained models"
Currently, model loading is being done by explicitly writing the name of the tensor, for example, [BERT](https://github.com/tensorflow/swift-models/blob/ead9a321f0a41b169a5ece1a12d008160c10c383/Models/Text/BERT.swift#L795), and VGG in #334,While VGG only has 16 layers, when going forward with resnet and other image models, the depth would increase and it would be a verbose declaration.  We have to

[2020-03-27 16:09] vballoli commented on #35
I'm sorry again about the delay again. Will pe posting the link to my code soon for comments before I officially open a PR.

[2020-03-27 21:05] #381 closed

[2020-03-27 22:15] BradLarson opened #425 "Add ability to set a constant random seed for shuffling in Batcher"
PR #418 replaced the core usage of TensorFlow.Dataset with the new Batcher mechanism. This is a step forward, but there was one small piece of old functionality missing in the upgrade: the ability to set a constant seed for shuffling.

This was largely of interest to the Benchmarks target, to minimize noise due to slight variations in random shuffling from run to run. It isn't a huge issue, and wo

[2020-03-28 13:26] vballoli opened #426 "Adding shufflenetv2"
I've worked on ShuffleNetv2's implementation for the swift-models addition. I'm referencing my commit here:
[https://github.com/vballoli/swift-models/commit/013b8c8139c2b9fffb2b1b14d5c78390d36af99e](https://github.com/vballoli/swift-models/commit/013b8c8139c2b9fffb2b1b14d5c78390d36af99e)

I'd like comments on this before I send a pull request since I'm not sure what's the best way to elegantly han

[2020-03-30 23:43] #389 closed

[2020-03-30 23:43] BradLarson commented on #389
Fixed by PR #395.

[2020-04-01 21:57] texasmichelle commented on #385
Anecdotally, this occurs more frequently with the Windows & Mac UIs than its console counterpart 🤔

[2020-04-01 22:37] texasmichelle opened #432 "Modify the CoLA dataset so that it can be used with a variety of models."
The CoLA example does not currently have a clear separation between model and dataset. Instantiating an instance of `CoLA` involves [providing a pre-trained BERT model](https://github.com/tensorflow/swift-models/blob/master/Examples/BERT-CoLA/main.swift#L38-L42). This could be clearer by separating the preprocessing functionality, similar to the way [`TextUnsupervised` requires a `BytePairEncoder`

[2020-04-01 22:56] texasmichelle opened #433 "Verify BERT variants"
Verify that [all BERT variants](https://github.com/tensorflow/swift-models/blob/master/Models/Text/BERT.swift#L361-L386) converge and match a reference implementation.

[2020-04-02 01:41] texasmichelle opened #434 "GPT2 and BERT alignment"
Refactor the GPT-2 and BERT models to make it clear which concepts are shared and which are distinct. For example, transformers and multi-head attention are shared concepts, but naming collisions have resulted in files such as TransformerBERT.swift and structs such as `MultiHeadAttentionGPT2`. As our collection of transformer-based language models increases, this becomes important for code reuse a

[2020-04-02 01:48] texasmichelle opened #435 "Add SQuAD task to BERT"
The BERT-CoLA example only covers classification. Add SQuAD to Datasets with a corresponding task and example.

[2020-04-02 01:48] texasmichelle commented on #435
Might make sense to wait for #434

[2020-04-02 01:53] texasmichelle opened #436 "Transformer chaos containment"
Before more transformer-based language models are added to this repo, let's pay down some debt on the ones we have:

- [ ] #432 Disentangle CoLA and BERT
- [ ] #433 Verify BERT variants (ALBERT and RoBERTA are untested)
- [ ] #434 GPT-2 and BERT alignment

This will make additional models easier to add and maintain.

[2020-04-07 16:05] eaplatanios opened #440 "Batcher and Parallel Data Processing"
What is the status of parallel data fetching and preprocessing with the batcher API? I noticed that there is a concurrent map implementation but couldn't find much else. I previously implemented a version of a prefetching iterator [here](https://github.com/eaplatanios/nca/blob/master/Sources/NCA/Utilities/Data.swift) but I'm not sure if that functionality is covered in batcher currently. If not, s

[2020-04-08 03:37] sgugger commented on #440
The `Batcher` is using parallelism to grab the samples from the dataset you give it and batch them (with that `concurrentMap` you mention). This is a work in progress and the final design of `Batcher` is going to be ready soon so I'd hold off any PR for now and check the parallelism on that final design.

[2020-04-08 03:57] eaplatanios commented on #440
Cool, thanks for the response @sgugger! :)

[2020-04-08 17:17] brettkoonce commented on #225
🥳

[2020-04-08 17:31] #225 closed

[2020-04-15 18:45] s1ddok opened #447 "Should we introduce a guideline for decoupling models and training code?"
I see that most of current model implementations come in a form of highly-specialized command-line app. It usually can only perform training on a hardcoded dataset or a specific task. However I can see users (including myself) wanting to just grab a U-Net model from say #365 and reuse it for another projects.

I think what we should do is to introduce two targets for each model: a library and an e

[2020-04-15 19:38] BradLarson commented on #447
I agree, to make models and datasets reusable they should ideally be separate library projects that are composed together to form specific examples. We've been working towards this in simpler cases, such as for the image classification models, where we've separated the models into the ImageClassificationModels library target and reusable dataset wrappers into the Dataset target. This makes somethi

[2020-04-16 09:44] s1ddok commented on #447
Unfortunately I have very limited time for my S4TF fun, but I'm into making stuff reusable. My current priority is to get #365 merged and then I will try to decouple models/layers from there into reusable libraries so that both projects (CycleGAN and pix2pix) could mix and match models/approaches.

[2020-04-22 17:23] saeta commented on #440
(Closing issue; feel free to re-open.)

[2020-04-22 17:23] #440 closed

[2020-04-22 17:26] saeta commented on #402
We are also unable to reproduce this issue. If you are able to, please do re-open this ticket.

[2020-04-22 17:26] #402 closed

[2020-04-22 17:26] BradLarson commented on #447
It sounds like we're on the same page as far as organization, and I totally agree with getting pix2pix in to match with CycleGAN, then generalizing the model. I'll close this out as a result, but thanks for bringing it up.

[2020-04-22 17:26] #447 closed

[2020-04-22 17:29] shabalind commented on #402
You need to make sure you have `unzip` installed in your environment. I experienced similar issue in #446.

[2020-04-24 21:28] compnerd opened #462 "GPT Inference Model has a shape mismatch"
When running the GPTInferenceUI on Windows, it seems that the model shape mismatch is back:

[code]

As soon as the model is executed, it fails.

[2020-04-28 14:43] texasmichelle commented on #462
We walked through this yesterday on a GCP VM and couldn't reproduce, so @compnerd will post additional details about what he's seeing.

[2020-04-28 16:36] ematejska opened #472 "Traced function with only constants fails"
Imported from JIRA https://bugs.swift.org/browse/TF-643

Type: | Bug | Priority: | Minor
-- | -- | -- | --
Reporter: | Brennan Saeta | Assignee: | Unassigned
Resolution: | Unresolved | Votes: | 0
Labels: | None
[code]
crashes with the following error:
[code]

[2020-04-28 20:25] BradLarson commented on #151
PR #406 addresses this, so unless there are further permutations we wanted to explore, we can probably close this for now.

[2020-04-28 20:25] #151 closed

[2020-04-28 20:32] BradLarson opened #474 "In the Neural Collaborative Filtering model, generalize to arbitrary layers and improve parameters"
Within the [recently added Neural Collaborative Filtering model](https://github.com/tensorflow/swift-models/pull/406), the number of layers is hardcoded, but is intended to be variable. To generalize this model, these layers should be built in an array, using `differentiableReduce()` to process through them.

Additionally, `mfDim` and `mfReg` [as parameter names](https://github.com/tensorflow/swif

[2020-04-29 13:33] kushukla opened #475 "error: type 'Device' has no member 'defaultXLA'"
Hi,

For some reason `swift build` is failing for me with an error message `error: type 'Device' has no member 'defaultXLA'`. Is there anything that I am missing out?

**Verify Swift toolchain**
[code]

**Git Clone**
[code]

**Build**
[code]
Thanks,
Kunal

[2020-04-29 13:49] shabalind commented on #475
Hi @kushukla, swift-models code is being reworked to adapt to new APIs coming in the upcoming 0.9 release. As a potential short-term solution you can use the swift-models code from `tensorflow-0.8` branch. It is known to work with the released 0.8 toolchain.

[2020-04-29 14:36] compnerd commented on #462
Interestingly enough, I was able to reproduce it again.  The interesting thing is that I noticed that the application terminated improperly during the download, I dear that this could be more complicated (some subtle bug and lack of validation).

[2020-04-29 15:27] texasmichelle commented on #462
OK, it's relevant that this is an intermittent issue. Adding @xihui-wu, in case she encounters this while building out benchmarks.

[2020-04-29 19:09] texasmichelle commented on #432
Replacing the current batching approach with `Batcher` will go a long way towards resolving this. This will make sense after the 0.9 release, which includes `Batcher` as part of swift-apis.

[2020-04-30 13:59] kushukla commented on #475
worked like a charm. Thanks! @shabalind

[2020-04-30 13:59] #475 closed

[2020-04-30 14:58] BradLarson commented on #475
Also, we should have a macOS nightly toolchain up today or tomorrow that has this new interface in it. The macOS builds ran into some problems for a bit, but those have largely been resolved. Once that new nightly toolchain is up, you should be able to resume using the head of swift-models with it.

[2020-04-30 18:48] ematejska opened #476 "recursivelyAllWritableKeyPaths crash in specific case"
Imported from JIRA https://bugs.swift.org/browse/TF-1207

Type: | Bug | Priority: | Minor
-- | -- | -- | --
Reporter: | Takehiro Araki | Assignee: | Unassigned
Resolution: | Unresolved | Votes: | 0
Labels: | None
Environment: | swift-tensorflow-RELEASE-0.8.xctoolchain

If the target type has both Scalar parameter and Activation parameter, recursivelyAllWritableKeyPaths crash.
[code]
[code]

[2020-05-01 08:32] kushukla commented on #475
Thanks! @BradLarson, looking for to the nightly toolchain

[2020-05-04 16:02] texasmichelle opened #480 "[BERT-CoLA] Add epochs"
CoLA uses a custom data loader, which could be improved by using Epochs instead, now that it is part of the v0.9 release.

This will go a long way to resolving #432.

[2020-05-05 19:00] texasmichelle opened #488 "[BERT-CoLA] Data source resolution"
The CoLA dataset is reliant on a [firebase url with included token](https://github.com/tensorflow/swift-models/blob/master/Datasets/CoLA/CoLA.swift#L78-L79). Identify the source and determine whether we should host these files from GCS instead.

/cc @BradLarson @eaplatanios

[2020-05-05 19:30] texasmichelle opened #489 "[BERT-CoLA]: Use common file extraction functions"
The CoLA dataset uses [custom extraction functions](https://github.com/tensorflow/swift-models/blob/master/Datasets/CoLA/DataUtilities.swift#L328-L349) to download data files. Use tools common to other datasets in swift-models instead.

/cc @BradLarson @sgugger

[2020-05-05 19:50] #480 closed

[2020-05-05 23:07] texasmichelle commented on #432
With #480 , this should be much more straightforward.

[2020-05-06 17:23] dan-zheng opened #492 "Rewrite long nested `Sequential` types using `Sequential{N}` typealiases"
`Sequential{N}` typealiases were added in https://github.com/tensorflow/swift-apis/pull/934:
[code]

The tuple-like typealiases are easier to use. Long nested `Sequential` types should be rewritten to use them:

https://github.com/tensorflow/swift-models/blob/b0cc1c45f4661d19a32a98c9ea61592d891e83fe/pix2pix/Discriminator.swift#L18

[2020-05-06 23:04] texasmichelle opened #493 "[BERT] Rename custom Embedding layer"
BERT uses a [custom `Embedding` layer](https://github.com/tensorflow/swift-models/blob/master/Models/Text/Embeddings.swift), which causes ambiguity errors when other models attempt to use the [standard version](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Layers/Embedding.swift).

[code]

Identify the differences and rename this version accordingly. If appropriate, reque

[2020-05-07 01:37] andrewasche commented on #492
Can I do this?

[2020-05-07 01:48] dan-zheng commented on #492
Sure!

I don't know if https://github.com/tensorflow/swift-apis/pull/934 has propagated to "nightly" (six hourly) toolchains yet, I think it should have.

[2020-05-07 16:43] texasmichelle opened #496 "[GPT2] Remove custom Embedding"
Look into replacing the [custom Embedding](https://github.com/tensorflow/swift-models/blob/master/Models/Text/GPT2/TransformerLM.swift#L294) in GPT2 with the [standard Embedding type](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Layers/Embedding.swift).

[2020-05-08 02:37] #493 closed

[2020-05-08 23:09] texasmichelle opened #499 "[WordSeg] Review scope"
Review the scope of `WordSeg` so that internal components are not exposed unnecessarily, especially evolution code.

[2020-05-09 00:38] texasmichelle opened #500 "[WordSeg] Add dataset"
Add a dataset for use with the WordSeg model. With a bit of modification, `TextUnsupervised` could be a good fit.

Clean up structures like `DataSet` and `Alphabet` in the model.

[2020-05-09 01:02] texasmichelle commented on #488
@eaplatanios do you know where this link came from?

[2020-05-09 23:42] porterchild opened #502 "How to get text output from Language models"
I'm struggling to get text output from BERT given a prompt. Looking through the code I've understood that the flow for inference should be something like this:

[code]

Some help getting from `rawOutput` to a `String` would be much appreciated.

Thanks!

[2020-05-11 21:49] xihui-wu opened #505 "[TextUnsupervised] a"

[2020-05-12 19:34] sgugger opened #506 "[WordSeg] Fix dropout issues"
Currently dropout is not used on the embeddings in the encoder and the decoder because it breaks AD (at least that's what the comment say). See [here](https://github.com/tensorflow/swift-models/blob/a5e1b1d558b174a9590a66b2ffe6978faefff8df/Models/Text/WordSeg/Model.swift#L129) and [there](https://github.com/tensorflow/swift-models/blob/a5e1b1d558b174a9590a66b2ffe6978faefff8df/Models/Text/WordSeg/M

[2020-05-13 16:46] BradLarson opened #511 "Replace usage of Batcher-based OldMNIST dataset variants"
As an intermediate stage in moving from Batcher to Epochs, @sgugger created new versions of the CIFAR-10 and MNIST datasets (and variants) and retained the existing Batcher-based datasets as OldCIFAR10 and OldMNIST (and variants) until we can move all examples off those old datasets. PR #507 removes the last references to the OldCIFAR10 dataset and that dataset. It will also remove the need for Ol

[2020-05-13 18:44] xihui-wu commented on #502
BERT is a general-purpose "language understanding" model. It doesn't have text output. The output of it is nothing but a logical representation of the input text in form of a vector of hidden_size. It's usually used for downstream NLP tasks by attaching extra layers on top of it. In our example here we attach a classifier to execute a classification task which classifies if the input sentence is g

[2020-05-13 19:19] sgugger commented on #506
So in both case, the dropout should be applied on the matrix of hidden states (I think S4TF returns a list of hidden states and not a matrix batchSize x SequenceLength x hiddenDimension).

[2020-05-13 19:20] BradLarson opened #514 "Convert image classification and generative examples to use X10 by default"
With the release of the 0.9 toolchain containing X10, we now have a higher-performance alternative to the default eager execution mode. In the interest of having swift-models demonstrate best practices, we should have our image classification and generative models use the highest performance pathway available. For image classification and image generative models, that's pretty much always X10.

Th

[2020-05-13 19:22] BradLarson commented on #426
Looks like this was resolved by PR #427.

[2020-05-13 19:22] #426 closed

[2020-05-13 19:29] BradLarson opened #515 "Investigate adding X10 inference unit tests alongside eager-mode ones"
All of our model inference unit tests use the default eager mode for execution. With X10 now available as an additional backend, we might want to add a parallel set of unit tests with each of these models copied to or initialized on an X10 device, operating against X10 tensors.

This would provide an end-to-end test of at least execution and shape correctness on this new device, but might have adv

[2020-05-13 19:37] sgugger opened #516 "[WordSeg] One LogSumExp to rule them all"
The current implementation of [`computeSemiringScore`](https://github.com/tensorflow/swift-models/blob/a5e1b1d558b174a9590a66b2ffe6978faefff8df/Models/Text/WordSeg/Lattice.swift#L97) computes the LogSumExp of a list of n floats by using n-1 LogSumExp on individual sums which is inefficient (and probably not as numerically stable, at first glance).

`Semiring.swift` should implement a `LogSumExp` o

[2020-05-13 19:48] Shashi456 commented on #516
Love the LOTR reference :P

[2020-05-13 21:16] porterchild commented on #502
Thanks for the explanation, I wasn't sure BERT and GPT-2 were usable in the same ways, and you confirmed that for me. I've used GPT-2 for generation and was hoping I could use Albert as a more lightweight way to do it, but it looks like the models are not totally analogous in their abilities. Thanks, I'll go back to GPT-2!

[2020-05-13 21:16] #502 closed

[2020-05-13 22:26] #516 closed

[2020-05-14 02:01] #500 closed

[2020-05-14 19:34] BradLarson opened #528 "Determine cause of XLA compiler crash when using the GPU and synthetic datasets"
In the process of completing PR #507, I discovered that running image classification benchmarks using a synthetic dataset and the X10 backend triggers an XLA compiler crash:

To reproduce, run the command with a GPU attached and a CUDA-capable toolchain:

[code]

This only happens with GPU usage, not TPU or CPU.

We should first identify what is different about the use of synthetic data that trigg

[2020-05-14 19:52] BradLarson opened #529 "Investigate why a simple eager Tensor calculation is needed at start of training benchmark"
Within PR #507, I enacted [a workaround](https://github.com/tensorflow/swift-models/blob/master/Benchmarks/Models/ImageClassificationTraining.swift#L38) inside the image classification benchmark to overcome a memory-related problem I had observed.

I noticed that the eager runtime would consume all available GPU memory upon initialization of the model on the eager execution device. This would star

[2020-05-15 16:59] Andrew-Pynch commented on #514
@BradLarson Hello, I am the guy who wanted to help with this from this morning's design meeting. I am still very new to this codebase. Where do these models live so I can start migrating them? :smile:

[2020-05-15 23:39] BradLarson commented on #514
@Andrew-Pynch - Great to hear about the interest. I've added links to each entry to describe where it lives in the repository. The only caution I'd have is that you'll want to coordinate with @xihui-wu who's working on issue #511, and not migrate any models she hasn't yet updated there. Any models not on that list, or ones that have already been updated to Epochs, should be free to update here.

[2020-05-16 00:45] #496 closed

[2020-05-16 16:46] SibtainRazaJamali opened #539 "Notebook"
Is there any resource/notebook on Using CheckpointWriter api inside a training loop for any model in swift?

[2020-05-19 16:55] texasmichelle opened #549 "Add a DistilGPT2 variant"
There's a very cool post [here](https://blaisecruz.com/pytorch-on-tpus/) (HT @BradLarson) with benchmarks for PyTorch XLA. It would be great to see how x10 compares by adding a DistilGPT2 variant and `DistilGPT2-WIkiText2` example.

[2020-05-19 20:55] Andrew-Pynch commented on #514
@xihui-wu I am going to use my weekend to work on these migrations. I was hoping I would have some time this week but that is not the case :-(. Is this a time-sensitive task? I don't have a gauge for how long it will take to do this but I will get as many done as I can this weekend :-)

[2020-05-20 01:04] texasmichelle commented on #385
At least one source of these crashes is caused by [`BytePairEncoder.unicodeToBytes`](https://github.com/tensorflow/swift-models/blob/master/Support/Text/BytePairEncoder.swift#L171). This computed property contains a 1:1 mapping between `UnicodeScalar` and `UInt8`, which is incorrect since unicode scalars can be composed of more than 1 byte.

To reproduce:
[code]
`token.utf8` is a collection with 2

[2020-05-20 04:13] xihui-wu commented on #514
Take your time @Andrew-Pynch #511 is up to date so you're good to work on anyone checked there.:)

[2020-05-20 16:32] BradLarson commented on #474
Resolved via PR #501.

[2020-05-20 16:32] #474 closed

[2020-05-20 17:35] dan-zheng commented on #506
Dropout added in https://github.com/tensorflow/swift-models/pull/550.

[2020-05-20 17:35] #506 closed

[2020-05-20 17:36] ematejska commented on #505
There are some issues to resolve before progress can be made.

[2020-05-20 17:51] texasmichelle opened #555 "[BERT] Remove WeightDecayedAdam"
BERT uses a custom optimizer `WeightDecayedAdam`. All the functionality is covered by the [standard optimizer](https://github.com/tensorflow/swift-apis/blob/master/Sources/x10/swift_bindings/optimizers/Optimizer.swift) from swift-apis, so replace this usage and remove `WeightDecayedAdam`.

[2020-05-20 22:26] xihui-wu commented on #511
Done. Closing

[2020-05-20 22:26] #511 closed

[2020-05-21 16:13] rahulbhalley opened #561 "Executable products (in tensorflow/swift-models) conflicting with modules (of same name) on local Swift package"
Currently, [tensorflow/swift-models](https://github.com/tensorflow/swift-models) repository contains:
1. datasets *and*
2. models

Akin to [tensorflow/swift-apis](https://github.com/tensorflow/swift-apis) (which implements basic building blocks for constructing and training ML models), wouldn't it be more appropriate to split [tensorflow/swift-models](https://github.com/tensorflow/swift-models) in

[2020-05-22 21:43] leoxzhao commented on #104
@xihui-wu I noticed that you recently did a fix for GPT2 training portion. If you are working on training or fine-tuning related aspect of it, this issue contains a conversation we had in the past about dropout which might be helpful.

HuggingFace's implementation also contains a dropout for embedding, https://github.com/huggingface/transformers/blob/2c1ebb8b507c19c75af5084b6c73e0b003c9eda6/src/tr

[2020-05-26 22:22] BradLarson commented on #561
As it is, we know that the number of repositories associated with the project [can cause some confusion](https://groups.google.com/a/tensorflow.org/d/msg/swift/95rP1GyN26I/_2jJYcJfAQAJ), so I think our tendency would be to work to reduce the number of those. There are also logistical challenges with opening and maintaining another repository.

The problem you're encountering might be due to the fa

[2020-05-26 23:06] xihui-wu commented on #104
@jekbradbury  >>The original Transformer performs dropout after the first dense layer in each feedforward block.    -- Looks like the link is outdated. Can you paste again?

@leoxzhao Yes as far as I see OpenAI don't show any dropout at all, whereas huggingface does. Compared with huggingface we have this extra dropout between two denses in MLP. I'd prefer to remove it to be aligned with huggingfa

[2020-05-27 00:24] jekbradbury commented on #104
I agree that you should align with huggingface.

[2020-05-27 04:54] xihui-wu opened #568 "Flaky TextUnsupervisedTests"
TextUnsupervisedTests.testCreateWikiText2WithBpe fails occasionally with:
XCTAssertEqual failed: ("64") is not equal to ("12")

https://source.cloud.google.com/results/invocations/e9a0dadd-a808-457d-a2f5-850fa9690960/targets/s4tf%2Fmodels%2Fubuntu%2Fmanual/log

I believe that's because it fails in loading the checkpoint and hits https://github.com/tensorflow/swift-models/blob/87552ffa194d257a7a98c

[2020-05-28 04:45] rahulbhalley commented on #561
Wow. That just worked like magic! Thank you so much @BradLarson. 😊

May I create a PR to remove executables?

[2020-05-28 13:13] BradLarson commented on #561
If you want to remove all the `.executable` products (while leaving the targets alone), please do. Otherwise, I can take care of it.

[2020-05-28 16:35] xihui-wu commented on #385
I can reproduce the decoding failure with [OpenAI GPT2](https://github.com/openai/gpt-2/blob/master/src/encoder.py#L105) however instead of throwing error it returns a replacement character.

byte_pair_encoder.get_encoder('117M', 'models').decode([129])  # 129 is the index of "Å" in the vocabulary

The decoding failure is expected when the input bytes are not valid to produce a string, unless the

[2020-05-29 02:16] rahulbhalley commented on #561
@BradLarson please review the PR https://github.com/tensorflow/swift-models/pull/572

[2020-05-29 17:07] BradLarson commented on #561
Robustly resolved via PR #572.

[2020-05-29 17:07] #561 closed

[2020-05-29 19:23] #568 closed

[2020-06-02 22:12] inukshukdeveloper opened #577 "FileManagement Function Doesn't Support .tar Files"
Attempting to extract a .tar file using extractArchive() results in the following error from tar:

gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now

This is due to a missing case in the function to handle archives not compressed with gzip.

[2020-06-02 23:06] #577 closed

[2020-06-02 23:08] inukshukdeveloper commented on #577
Easy workaround is available so will close for now.

[2020-06-03 17:32] compnerd commented on #555
@shadaj is looking into this

[2020-06-04 20:47] BradLarson opened #582 "Move pix2pix and CycleGAN examples from Batcher to Epochs"
As part of the process of migrating over to use Epochs instead of the older Batcher API, we need to migrate the following models over from Batcher:

- [x] [CycleGAN](https://github.com/tensorflow/swift-models/tree/master/CycleGAN)
- [x] [pix2pix](https://github.com/tensorflow/swift-models/tree/master/pix2pix)

Additionally, all dependencies to Batcher should be removed from Datasets and other modu

[2020-06-04 20:52] shadaj opened #583 "Allow specifying the target device for tensors created in BERT and CoLA"
Right now, all tensors in BERT and CoLA are created eagerly, which leads to unnecessary data transfer when using XLA. This could be improved by allowing users to specify a device to create tensors on when constructing the model or loading data.

[2020-06-08 02:32] rahulbhalley opened #587 "Error when executing `swift run -c release ResNet-CIFAR10`"
Error when executing `swift run -c release ResNet-CIFAR10` command on master branch with both v0.9 release and development toolchains.

Edit: Can't post the error as GitHub allows maximum of only 65536 characters. So, I've posted them in partitions.

[2020-06-08 02:34] rahulbhalley commented on #587
[code]

[2020-06-08 02:35] rahulbhalley commented on #587
**2nd half**

[code]

[2020-06-08 13:18] BradLarson commented on #587
I can't reproduce this on my end, with 0.9 or development toolchains on Linux or macOS. Try removing your local `.build` directory and attempting a clean rebuild to see if this recurs.

What version of SwiftProtobuf is fetched when you build? It should be 1.9.0, from what I see here. The only thing I can think of that would cause the above is a version mismatch from SwiftProtobuf and the generated

[2020-06-08 18:52] BradLarson opened #588 "On macOS, simple models can trigger a segfault within X10"
Some simple image classification models can trigger a segfault when using the XLA device. For now, we're explicitly having them use the eager-mode device instead until this can be fixed.

The crash produces a trace a backtrace like the following:

[code]

[2020-06-08 23:00] #555 closed

[2020-06-09 01:07] leoxzhao commented on #104
#574 has been merged. Closing this issue.

[2020-06-09 01:07] #104 closed

[2020-06-09 02:56] rahulbhalley commented on #587
I re-cloned the repo and tried building but it was still unsuccessful. I tried cmd+shift+K each time before rebuilding but all in vain.

When building with 2020-06-03 dev toolchain I get the following errors whereas the previous error was with 0.9 release:

<img width="298" alt="स्क्रीन शॉट 2020-06-09, पू 8 19 36 पर" src="https://user-images.githubusercontent.com/9640948/84100882-65b60f00-aa2a-11e

[2020-06-09 14:53] BradLarson commented on #587
I've tried this across Catalina (10.15.3) and Mojave (10.14.6) with the 0.9 release toolchain at the command line and in Xcode (11.3.1) and with the 2020-06-03 nightly on Catalina and do not see any of these errors. There's a possibility this is related to Xcode versions (I'm running 11.3.1 on my two machines here), so I'll try with 11.5. That's the only difference I can spot here.

[2020-06-09 19:38] BradLarson opened #592 "Move remaining examples from Batcher to Epochs"
As a follow-on to issue #582, we have a number of other models and datasets that should be migrated from the deprecated Batcher API to Epochs:

**Datasets:**
- [x] [ImageSegmentationDataset](https://github.com/tensorflow/swift-models/blob/13cd9724c41880793e509c7fd8388b516bee44a8/Datasets/ImageSegmentationDataset.swift)
- [x] [COCODataset](https://github.com/tensorflow/swift-models/blob/9b404f30351

[2020-06-10 18:58] texasmichelle opened #598 "Find a more descriptive word for `numericalized`"
In a few places ([1](https://github.com/tensorflow/swift-models/blob/master/Datasets/LanguageModelDataset.swift#L17), [2](https://github.com/tensorflow/swift-models/blob/master/Datasets/WordSeg/WordSegRecord.swift#L19)), we've started using the term `numericalized`, which might be definitionally accurate, but is a bit cumbersome. Let's come up with a better term to describe this.

[2020-06-10 19:03] texasmichelle opened #599 "[WordSeg] Alphabet can only contain characters from training"
Currently, the `WordSeg` dataset uses characters from all datasets to create an instance of `Alphabet`, but only the training set should be used.

This potentially involves architectural changes to `CharacterSequence`, but we might be able to handle failures differently instead.

[2020-06-10 19:17] texasmichelle opened #600 "[WordSeg] Use `Character` instead of `String` in `Alphabet`"
Currently, `Alphabet`'s [`dictionary`](https://github.com/tensorflow/swift-models/blob/master/Support/Text/WordSeg/Alphabet.swift#L25) maps from `String` rather than `Character` to support tokens of length > 1 character. Using `Character` instead of `String` would work if we used special Unicode characters or enums instead of `"</s>"`, `"</w>"`, and `"<pad>"`.

Since this is used in so many places

[2020-06-10 19:31] texasmichelle opened #601 "[WordSeg] Make backend configurable"
Add argument parsing to support user-specified backend. Default to TFEager, with the option of using XLA.

Follow-up to #597

[2020-06-15 16:53] #582 closed

[2020-06-16 15:23] #601 closed

[2020-06-16 23:22] shadaj commented on #583
This may be harder than I thought; placing the preprocessed data directly onto the XLA device appears to be causing lots of recompiles which drags down the performance significantly.

[2020-06-17 00:14] BradLarson commented on #528
The workaround in PR #609 addresses this in practice, and the fundamental issue is that traces (or at least GPU-bound ones) can execute slightly past the lifetime of the referenced model and optimizer. Further work will be needed to determine if this can be prevented in the general case, but for now this handles the near-term issues here.

[2020-06-17 00:14] #528 closed

[2020-06-17 13:43] BradLarson commented on #587
I tested with Xcode 11.5, and still could not reproduce this behavior with any toolchain. Given that we can't reproduce this in any combination on our end, I'm going to close this. If you have new information that can help us point out where this might be occurring, let us know and reopen as needed.

[2020-06-17 13:43] #587 closed

[2020-06-17 13:45] BradLarson commented on #514
I'll note that the following models:

- ResNet-CIFAR10
- LeNet-MNIST
- VGG-Imagewoof
- MobileNetV1-Imagenette
- MobileNetV2-Imagenette

will automatically be updated by PR #586, so we can hold off on this until that lands. The others could potentially be converted as a second stage using that training loop once that is available to the project.

[2020-06-17 14:30] rahulbhalley commented on #587
No problem. I had this problem with my own some different SPM too which occurred out of nowhere when I relaunched Xcode. I can’t reproduce that myself too. But I do get error on `swift-models`. Anyways, it might be problem in my Xcode. I think it’s fine if it’s closed for now.

[2020-06-26 02:25] BradLarson commented on #592
...and with PR #615, this is officially done.

[2020-06-26 02:25] #592 closed

[2020-07-15 19:45] texasmichelle opened #636 "Use default word separator in CLI arguments"
Currently, there is a mixture of word separator usage in CLI arguments, e.g. [`batchSize`](https://github.com/tensorflow/swift-models/blob/master/BenchmarksCore/BenchmarkArguments.swift#L23), [`min-time`](https://github.com/tensorflow/swift-models/blob/master/Benchmarks/__init__.py#L60).

Both of these override the default underscores provided by `ArgumentParser`. It would be good to standardize o

[2020-07-16 22:59] BradLarson opened #638 "Transformer model requires more parameters than supported on TPU"
It [has been pointed out by Wojtek Czarnowski](https://groups.google.com/a/tensorflow.org/d/msg/swift/NyAg6MV5PT0/0KjPYSGdBQAJ) that in specific cases the Transformer model (or components used within it) can trigger a compilation error in X10 on TPU:

[code]

He provided [a reproducer notebook](https://github.com/wojtekcz/language2motion/blob/colab-tpu-error/notebooks/Motion2lang-Training/TrainMot

[2020-07-20 23:53] hector-crean opened #643 "Implementing graph convolutional neural networks"
Given the recent popularity of graph convolutional neural networks (i.e. https://github.com/tkipf/gcn), would it be worth implementing a swift paradigmatic version? I have a semi-working version, but would defer to those more knowledgable in these things.

[2020-07-21 15:20] #636 closed

[2020-07-21 17:11] Shashi456 commented on #488
@texasmichelle So the link comes from [here](https://github.com/nyu-mll/GLUE-baselines/blob/4cbf0443b1457fa04b08894c25e3040b319f0f5e/download_glue_data.py#L33), that is the original script for downloading the glue dataset, while the original COLA dataset resides on [this](https://nyu-mll.github.io/CoLA/) website. The difference between both of them is the test set is hosted at a separate Kaggle co

[2020-07-22 17:17] BradLarson commented on #643
That would be a great addition. It's something that I know a few people were exploring, but we don't have any formal examples in the repository yet.

The integration of graphs and tensor operations is somewhere that we believe Swift can really shine, so anything you'd be willing to contribute would be very much appreciated.

[2020-08-07 22:49] texasmichelle commented on #638
I ran into this running WordSeg on TPU as well:
[code]

[2020-08-10 17:43] shadaj commented on #583
Resolved by #646

[2020-08-10 17:43] #583 closed

[2020-08-10 20:25] BradLarson opened #657 "Add documentation to the Gym models to specify additional dependencies for DQN"
The DQN implementation within the Gym examples additionally needs Matplotlib and Numpy to work correctly, and we should create a section in the Readme there that describes this model and shows how to install these additional dependencies.

[2020-09-01 11:27] rahulbhalley opened #661 "Documentation for loading custom dataset"
Is there any documentation to load custom dataset (in different domains) in S4TF like we can do in PyTorch?

For instance, [ImageFolder](https://pytorch.org/docs/stable/torchvision/datasets.html#imagefolder) lets us load any dataset containing images structured in the following directories:

[code]

I looked at some protocols (for image) and structures (for text) for data loading:
- [ImageClassifi

[2020-09-01 18:58] BradLarson commented on #661
The lack of documentation / generalization may be a result of how we arrived at the current designs. The dataset wrappers we use now started as a series of bespoke datasets that were coded for individual examples, which then were lifted out into reusable datasets, and then generalized at a higher level via the Epochs interface. The order emerged from a bottom-up consolidation of common parts as we

[2020-09-02 14:49] BradLarson opened #663 "Add logging callbacks for training statistics"
The training loop abstraction has a visual progress bar for tracking statistics during training. In many cases, it's desirable to log or store training statistics for later analysis, or to send those statistics to different services for visualization.

Further discussion is present in PR #662, but we'd like to have callbacks such as the following:

- [ ]  CSV logging (example: [tf.keras.callbacks.

[2020-09-02 15:23] vkuznet commented on #663
+1

[2020-09-08 14:32] rahulbhalley commented on #661
Okay. Would you like to have a similar approach to PyTorch's data loading with ImageLoader? I am interested in this approach because it's generally how labeled datasets are structured, even in audio domain (I think Google's NSynth also follows similar approach of structuring data with each directory representing a certain class). I can work on this and make a PR if you guys agree to merge such wor

[2020-09-08 14:50] 8bitmp3 commented on #661
@BradLarson Do you want to get the community involved in building the docs? Some of use, especially @rahulbhalley, have been testing S4TF things extensively. Maybe we can help

[2020-09-08 21:51] BradLarson commented on #661
@rahulbhalley - Due to how types are used with Epochs, I'm not sure how far this could be generalized, but I can definitely see a use case for creating a generalized image classification dataset loader that operated on directories. An optionally-supplied mapping between directories and labels for that would also make sense. If you had a workable design for this, I'd welcome it.

@8bitmp3 - Help wi

[2020-09-29 17:09] BradLarson opened #673 "GPT-2 currently exhausts all available GPU memory on an 8 GB GPU"
In testing PR #671, we noticed that the GPT-2 model now exhausts all available memory on 8 GB GPUs (example: GTX 1080) for both eager mode and X10 runtimes. It did not do this previously, so at some point the RAM usage of this model has increased to the point where it can no longer train on these GPUs.

We should investigate why this happened and see if memory usage for this model can be brought b

[2020-10-01 02:53] texasmichelle opened #675 "Better error message on unzip failure"
I attempted to run benchmarks on a fresh instance that did not have `unzip` installed. The error message is misleading, stating that the file does not exist, even though the download was successful.

We should also document `unzip` in the README as a required dependency, or fail more gracefully.

[code]

[2020-10-05 19:22] xihui-wu commented on #673
As I tested an 16GB GPU VM, I do see that among the last 2/3 of the epochs (10 epochs in total), a peak memory usage of 9187MB happens once in each epoch, and they happen around last training batch.

[2020-10-05 23:57] brettkoonce commented on #638
[code]

i can reproduce this by using tensorflow 2.3.1 as the base for the tpu.  moving to a nightly build makes the crash go away:

<img width="610" alt="Screen Shot 2020-10-05 at 6 54 01 PM" src="https://user-images.githubusercontent.com/11281814/95143635-29768f00-073c-11eb-875b-08958b4a0faf.png">

would suggest bumping what base image colab is using should fix this.

see also https://github.com

[2020-10-09 18:50] BradLarson commented on #529
Closing this in favor of [issue #1094 in tensorflow/swift-apis](https://github.com/tensorflow/swift-apis/issues/1094), which provides a better description of the core problem.

[2020-10-09 18:50] #529 closed

[2020-11-18 17:24] xihui-wu commented on #673
I just verified again on a new 16GB GPU DLVM instance created today, issue sustains.

[2020-11-25 17:10] brettkoonce opened #704 "early program exit with xla mode under linux"
Been seeing this for a while, for what it's worth, but here's a reproducible testcase:

Ubuntu 18.04, cuda 10.2, 0.12 build to match.  swift-models, master checkout:

[code]

Above is using xla, when switching to Device.defaultTFEager things exit cleanly (eg logger callback completes).

[2020-11-27 03:44] diwakar-vsingh commented on #280
It would also be great if there are some tutorials regarding Checkpoint reader and writer.

[2020-11-27 03:56] diwakar-vsingh opened #706 "No dilations in DepthwiseConv2D"
In my implementation of DeepLabV3+, I need to use different dilation rates in my DepthwiseConv2D layers. However, it looks like there is no dilations attribute in DepthwiseConv2D API as of now. How can I include a dilation rate in my DepthwiseConv2D layer?

[2020-11-27 18:56] diwakar-vsingh commented on #706
I have created a pull request [here](https://github.com/tensorflow/swift-apis/pull/1129) where I extended the functionality of depthwiseConv2D by modifying NN.swift and Convolution.swift to take dilations as its argument.

[2020-11-30 19:55] BradLarson commented on #704
Does this always crash for you on the start of the second epoch, or is it somewhat random? On the Jetson devices, I've seen a similar crash, but it happened randomly and oddly would seem to go away when I was running `tegrastats`. Is this more reliable of a crasher?

[2020-11-30 20:02] brettkoonce commented on #704
not on the second epoch, but after the very last one (12 in the mnist demo above).  every time for me with the above (just did again) + as well as the mnist xla demo i made for the presentation (no logger callback there, fwiw).

[2020-12-01 00:47] diwakar-vsingh commented on #706
Closing this thread as the whole discussion is moved [here](https://github.com/tensorflow/swift-apis/pull/1129).

[2020-12-01 00:47] #706 closed

[2020-12-06 13:44] abhichou4 commented on #675
I'd like to work on this issue. I could start with getting the right error message and adding unzip as a required dependency in the README.

[2020-12-08 12:36] xanderdunn opened #713 "macOS S4TF 0.11 Build Failure: Function is not Differentiable"
macOS 11.0.1.

[code]

I'm unable to upgrade to S4TF 0.12 because of [this](https://github.com/apple/swift-nio-ssl/issues/259) bug, hence compiling with 0.11.

Compiling on Linux with S4TF 0.12 works fine.

[2020-12-08 15:13] xanderdunn opened #714 "What is TF-427?"
I was verifying the gradients on one of my models and wanted to increase the precision from `Float` to `Double` to see how it affected the error on the calculation (recommended [here](https://cs231n.github.io/neural-networks-3/#loss)). My model is using [TransformerEncoder](https://github.com/tensorflow/swift-models/blob/542a03c09aa7bd6e326a18b5d086f2bec8b4b24c/Models/Text/BERT/TransformerBERT.swi

[2020-12-08 15:15] xanderdunn commented on #714
Oh wow the GitHub issue automatically formats TF-427 to the Swift bug tracker issue. I've seen SR-# but didn't realize some of them were TR-#.

[2020-12-08 15:15] #714 closed

[2020-12-08 17:48] BradLarson commented on #713
Unfortunately, there are a few places that incorrectly complain about differentiability in the head of swift-models when using the 0.11 release toolchain. There isn't a great way to work with the latest swift-models and the 0.11 toolchain (you can use the tensorflow-0.11 branch to go to the snapshot of swift-models as of the time we released 0.11, but that will lack functionality we've added since

[2020-12-08 18:59] xanderdunn commented on #713
Thanks @BradLarson, pegging my dependency to the `tensorflw-0.11` branch will be fine for the time being, I'll go ahead and close this.

[2020-12-08 18:59] #713 closed

[2020-12-12 02:16] xanderdunn opened #720 "Complex Loss Functions Inside TrainingLoop"
Thanks to @xihui-wu's talk earlier today, I learned about the [TrainingLoop](https://github.com/tensorflow/swift-models/blob/542a03c09aa7bd6e326a18b5d086f2bec8b4b24c/TrainingLoop/TrainingLoop.swift#L180) struct. I had essentially replicated this functionality in a messier way in my code, so I'm looking at it to see if I could replace my train loop with this cleaner implementation. I believe the on

[2020-12-15 00:23] xihui-wu commented on #720
@xanderdunn thanks for your post! TrainingLoop is currently in iterations to develop to cover more and more use cases.

To answer you first question in supervised learning scenario - generally speaking, if you want to customize loss function by manipulating on output and label, you can write your loss function like what BERT-CoLA does [here](https://github.com/tensorflow/swift-models/blob/main/Exa

[2020-12-15 13:34] xanderdunn commented on #440
I was looking for parallel data processing and prefetching of batch data because waiting on each batch to be generated is a considerable portion of runtime for my model. Tensorflow has a nice set of APIs for doing this [here](https://www.tensorflow.org/guide/data_performance#prefetching).

It looks like `Batcher` no longer exists. It was perhaps moved to swift-apis and renamed to `TrainingEpochs`

[2020-12-15 23:19] BradLarson commented on #440
@xanderdunn - Batcher became [Epochs](https://github.com/tensorflow/swift-apis/tree/main/Sources/TensorFlow/Epochs), taking the lessons learned from Batcher and making them more extensible. Parallel data processing fits within the Epochs model, and the TextUnsupervised.swift file for loading the WikiText variants shows [one application of that](https://github.com/tensorflow/swift-models/blob/main/

[2020-12-16 17:59] xanderdunn commented on #440
Thanks @BradLarson!  The `TrainingEpochs` you linked to is what our project is currently using. It looks like the WikiText dataset uses `concurrentMap` for the one time initial encoding of the dataset when it's first read from CSV, but I don't see any concurrency in the [continuous generation of batches](https://github.com/tensorflow/swift-models/blob/main/Datasets/TextUnsupervised/TextUnsupervise

[2020-12-16 22:05] BradLarson commented on #440
@xanderdunn - I don't think we have a method yet of handling a seeded random number generator deterministically across batching (I think that I created issue #425 to track the addition of this), but I could be wrong. There might be a way to do this with Epochs that became part of the API after I created the above in the Batcher days.

[2020-12-19 16:09] xanderdunn commented on #720
Thanks @xihui-wu.  Writing custom loss functions is straightforward, but the challenging part is a training loop that is compatible with loss functions that take more than just `logits` and `labels` as parameters. In the linked example the `labels` have type `Tensor<Int32>`. Could this instead be a struct that contains multiple tensors? Such a struct could contain both the labels and the masks, fo

[2020-12-22 17:43] texasmichelle commented on #704
XLA runs through cleanly for me on the `tensorflow-0.12` branch with the
`swift-latest-cu110-ubuntu-1804` image, on both the included toolchain and `swift-tensorflow-RELEASE-0.12-cuda11.0-cudnn8-ubuntu18.04`. I'll try running through your config as well.

[2020-12-22 17:51] texasmichelle commented on #704
I can't get this running on current `main` in swift-models, which is not unexpected. Release toolchains are designed to work with the corresponding release branch. @brettkoonce can you confirm that you're seeing this on `tensorflow-0.12`? Or whether this occurs on `main` with the latest nightly?

[2020-12-23 02:11] brettkoonce commented on #704
@texasmichelle i can't reproduce, it's working here for me now.  was using swift-tensorflow-RELEASE-0.12-cuda11.0-cudnn8-ubuntu18.04.tar.gz + your image.  sorry for the confusion.

[2020-12-23 02:17] brettkoonce commented on #704
still getting this error here with my xla mnist demo, cuda 10.2, ubuntu 18.04.  going to purge my system soon so will revisit this after.

[2020-12-23 14:38] BradLarson commented on #704
@brettkoonce - I'm now seeing the same with the ResNet-CIFAR10 example on CUDA 11 (the LeNet-MNIST one runs fine for me). Could be CUDA-related, with failures at different points for different versions. If I can get this to reproduce locally, I'll start debugging to see what this could be related to.

[2020-12-23 16:35] BradLarson commented on #704
In the reproducer I have here, the stack trace I'm getting seems to show the segfault coming from within cuDNN 8. If so, this might be a cuDNN thing instead of something we can impact on our end. Our CUDA 10.2 toolchains link against cuDNN 7, so that might explain why this is happening for different models. I'll keep digging to see if there's something in particular that triggers this and determin

[2020-12-23 16:58] brettkoonce commented on #704
@BradLarson that would make sense with respect to cuda versions + my system being slightly different than what you all have.  i'm going to make the jump to 11.0 + cudnn8, fwiw, don't really want to spend time hunting 10.2 gremlins any more anyhow.  Will have my mnist demo online shortly so you should be able to reproduce it using that as well.

[2020-12-27 14:38] abhichou4 commented on #675
The problem seems to be in [DatasetUtilities.swift](https://github.com/tensorflow/swift-models/blob/243bfb4a2344ab578bc905f5db6d547e07fdc651/Datasets/DatasetUtilities.swift#L108-L112). In `extractArchive`, the `"The file doesn’t exist."` is the `unzip` executable that does not exist.

We can either fix the error message (print the executable doesn't exist), or use a package like [ZIP Foundation](h

[2020-12-28 18:11] xihui-wu commented on #720
Thanks for correcting the link. You are welcome to try if making it into a struct together with some changes in TrainingLoop works. Again our current TrainingLoop implementation isn't in a final form, and more flexibility may be needed for RL and other applications! At some point we might look at having composable training loop pieces so that loops could be more flexible, but that be some ways off

[2020-12-28 18:47] BradLarson opened #726 "Checkpointing should be extended to optimizer and training loop state"
As brought up by Xander in [swift-apis issue #25](https://github.com/tensorflow/swift-apis/issues/25), our efforts on checkpointing have thus far focused on model state checkpoints, but there are other state parameters that should be saved. We should provide a means of taking a snapshot of optimizer and training loop state, as well as other hyperparameters to store alongside the model state.

[2020-12-31 21:47] brettkoonce commented on #704
Code up here:

https://github.com/Apress/convolutional-neural-networks-with-swift-for-tensorflow/

[2021-01-05 04:38] rahulbhalley commented on #280
It's been a long time. Any progress on this?

[2021-01-05 14:30] BradLarson commented on #280
@rahulbhalley - Sorry for the delay. In the time since my last update above, we had implemented the remaining checkpoint reading and writing functionality as basic components. PR #631 ties those together into a hopefully easy-to-use API, and adds documentation and examples for that. I'd also like to rework PR #334 using this new interface, either as part of #631 or a later PR, as a first example o

[2021-01-06 17:33] brettkoonce commented on #704
Yeah, seems to be gone post-upgrade, will chalk up to CUDNN wierdness.

[2021-01-06 17:33] #704 closed

[2021-01-06 22:04] BradLarson commented on #704
Great to hear. cuDNN can be a bit of a black box, unfortunately. We also have new toolchains that I'll be talking about on Friday that may or may not impact this (if it's pure cuDNN, probably not).

[2021-01-18 20:29] OdysseySeeker commented on #598
Integerized / Integerization?

[2021-02-06 03:47] brettkoonce opened #733 "save + load model using checkpoints not working"
running the following code:

[code]

produces the following error:

[code]

[2021-02-08 19:48] BradLarson commented on #733
This is due to a shortcoming in the current checkpoint reader's iteration implementation. When I first put this together, there wasn't a way to use reflection to determine if a property was writeable, so it was possible to have the reflection part of the iteration find a path that shouldn't be part of the checkpoint. As a hacky way around this, I let you specify properties that you can ignore for

[2021-02-08 20:46] brettkoonce commented on #733
@BradLarson thanks for the notes, that works here!

[2021-02-09 05:40] rahulbhalley opened #734 "Enable Discussions?"
I just stumbled across [Discussions](https://github.com/PyTorchLightning/pytorch-lightning/discussions) in PyTorch Lightning repository and it seems pretty helpful! How about enabling it in various S4TF repositories also?

[2021-02-13 12:08] #734 closed

[2021-02-13 12:09] rahulbhalley commented on #661
S4TF has been archived so I'm closing this issue I created.

[2021-02-13 12:09] #661 closed

[2021-02-17 22:15] brettkoonce commented on #733
working here, have trained a resnet50 model using checkpoints, thanks again for the notes!

[2021-02-17 22:15] #733 closed

[2021-04-29 19:08] himanshu007-creator commented on #598
i think <b>Numbered</b> will be a good option